<nav class="navbar navbar-expand-lg  justify-content-center" color-on-scroll="500">
<!--<nav class="navbar navbar-expand-lg  fixed-top navbar-transparent justify-content-center" color-on-scroll="500">-->
    <div class="container">
        <div class="navbar-translate col-sm-0">
            <a class="navbar-brand " style="color: black">Nano <span style="color: #00bbff">planete</span></a>
            <button (click)="sidebarToggle()" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation" class="navbar-toggler navbar-burger" data-target="#navbarToggler"
                    data-toggle="collapse" type="button">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                    <a [routerLink]="['/client/home']" class="nav-link" style="font-size: 10px; color: black">
                        <i aria-hidden="true" class="fa fa-home" style="font-size: 15px"></i>
                        Accueil</a>
                </li>


                <li class="nav-item ">
                    <a [routerLink]="['/client/formation']" class="nav-link" style=" color: black;">
                        <i aria-hidden="true" class="fa fa-graduation-cap" style="font-size: 15px"></i>
                        Formation</a>
                </li>


                <li class="nav-item ">
                    <a [routerLink]="['/client/congres']" class="nav-link" style="font-size: 10px ; color: black"><i
                            aria-hidden="true"
                            class="fa fa-users"
                            style="font-size: 15px"></i>
                        Congres & seminaires</a>
                </li>


                <li class="nav-item ">
                    <a [routerLink]="['/client/produit-bio']" class="nav-link" style="font-size: 10px ; color: black"><i
                            aria-hidden="true" class="fa fa-handshake-o" style="font-size: 15px"></i>
                        Materiel Biomedical</a>
                </li>

                <li class="nav-item ">
<!--                    <a [routerLink]="['/client/commande']" class="nav-link" style="font-size: 10px ; color: black">-->
                    <a class="nav-link" style="font-size: 10px ; color: black">
                        <i class="fa fa-shopping-bag" aria-hidden="true" style="font-size: 15px;"></i>
                        Commandes</a>
                </li>


                <li class="nav-item ">
                    <a [routerLink]="['/client/chekout']" class="nav-link" style="font-size: 10px ; color: black">
                        <i aria-hidden="true" class="fa fa-shopping-cart" style="font-size: 15px"></i>
                        Panier </a>
                </li>

                <li class="nav-item ">
                    <a [routerLink]="['/client/notification']" class="nav-link" style="font-size: 10px ; color: black">
                        <i class="fa fa-bell" aria-hidden="true" style="font-size: 14px"></i>
                        <small *ngIf="notSeen > 0" class="mt-lg-4 " style="color: red; font-size: 10px;">{{key}}</small>
                    </a>

                </li>

                <div class="dropdown" style="display: flex">
                    <img class="img-circle" src="assets/img/account.png" style="width: 30px;cursor: pointer;
    height: 30px; margin-top: 1.2rem">
                    <div class="dropdown-content" >
                        <a [routerLink]="['/client/portrait']" class="nav-link" style="font-size: 10px ; color: black">
                            <i class="fa fa-user" aria-hidden="true" style="font-size: 14px" ></i>Profile
                        </a>
                        <a (click)="logOut()" class="nav-link" style="font-size: 10px ; color: black">
                            <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 14px"></i>Se Deconnecter
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

