
<div class="container">
    <div class="table-responsive " style="margin-top:7rem ">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8" ><h2>Liste <b>Des commandes</b></h2> </div><br>
                    <div class="col-sm-4">

                        <div class="search-box">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" [(ngModel)]="searchBar" (ngModelChange)="searchAll(searchBar)" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover table-bordered  ">
                <thead style="position: sticky;top: 0;" class="thead-dark">
                <tr>
                    <!--                    <th>Nom</th>-->
                    <th>Client</th>
<!--                    <th>Client <i class="fa fa-sort"></i></th>-->
                    <th style="text-align: center;">Adress</th>
<!--                    <th>Adress <i class="fa fa-sort"></i></th>-->
<!--                    <th>Ville <i class="fa fa-sort"></i></th>-->
                    <th>Pays</th>
<!--                    <th>Pays <i class="fa fa-sort"></i></th>-->
<!--                    <th>Tele<i class="fa fa-sort"></i></th>-->
                    <th>Tele</th>
                    <th>Date</th>
                    <th style="text-align: center;">Articles</th>
                    <th>prix Total</th>
                    <th>Etat</th>
                    <th>Edit</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let panier of paniers">
                    <td>{{panier.user.username}}</td>
                    <td><div class="scroll-page" style="overflow: scroll; width:200px;height: 40px" >  {{panier.lieu}} </div></td>
<!--                    <td>{{panier.ville}}</td>/-->
                    <td>{{panier.pays}} </td>
                    <td >{{panier.phone}}</td>
                    <td >{{panier.dateAjout}}</td>
                    <td><div class="scroll-page" style="overflow: scroll; width:200px;height: 20px" >  {{panier.formation?.nom}} <span *ngFor="let produitPanierItems of panier.produitPanierItems"> {{produitPanierItems?.produitBio.nom}} * {{produitPanierItems?.quantite}} </span> </div></td>
                    <td >{{panier.prixTotal}}</td>
                    <td >{{panier.etatCommande}}</td>

                    <td>

                        <a data-mdb-toggle="tooltip" title="Modifier">
                            <i (click)="edit(congre)"
                               aria-hidden="true"
                               class="fa fa-pencil-square" style="font-size: 18px;color: deepskyblue"></i>
                        </a>
<!--                        <a data-mdb-toggle="tooltip" title="supprimer">-->
<!--                            <i (click)="delete(congre)"-->
<!--                               aria-hidden="true"-->
<!--                               class="fa fa-trash" style="font-size: 18px;color: red ; padding-left: 2em;padding-top: 1em"></i>-->
<!--                        </a>-->
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="clearfix">
                <!--                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>-->
                <ul class="pagination">
                    <li class="page-item disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item active"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item "><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item"><a class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
