
<div class="container">
    <div class="table-responsive " style="margin-top:7rem ">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8" ><h2>Liste <b>Des commandes</b></h2> </div><br>
                    <div class="col-sm-4">

                        <div class="search-box">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" [(ngModel)]="searchBar" (ngModelChange)="search(searchBar)" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover table-bordered  ">
                <thead style="position: sticky;top: 0;" class="thead-dark">
                <tr>

                    <th>Client</th>
                    <th>Reference</th>
                    <th>Date</th>
                    <th>Item</th>
                    <th>Total</th>
                    <th>Paye</th>
                    <th>Edit</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let panier of paniers">
                    <td>{{panier.user.username}}</td>
                    <td>  {{panier?.reference}} </td>

                    <td>{{panier.addedAt.toString().substring(0,10)+' '+panier.addedAt.toString().substring(12,19) }} </td>
                    <td *ngIf="panier.formation!=null">{{panier.formation.nom}}</td>
                    <td *ngIf="panier.produitBio!=null">{{panier.produitBio.nom}}</td>
                    <td >{{panier.total}}</td>
                    <td *ngIf="panier.paye">Oui</td>
                    <td *ngIf="!panier.paye">Non</td>


                    <td>

                        <a data-mdb-toggle="tooltip" title="Modifier">
                            <i (click)="edit(congre)"
                               aria-hidden="true"
                               class="fa fa-pencil-square" style="font-size: 18px;color: deepskyblue"></i>
                        </a>

                    </td>
                </tr>

                </tbody>
            </table>
            <div class="clearfix">

                <ul class="pagination">
                    <li class="page-item disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item active"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item "><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item"><a class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
