<!--<nav class="navbar navbar-expand-lg  fixed-top navbar-transparent justify-content-center" color-on-scroll="500">-->
<!--    <div class="container">-->
<!--        <div class="navbar-translate col-sm-0">-->
<!--            <a class="navbar-brand ">Nano <span style="color: #00bbff">planete</span></a>-->
<!--            <button (click)="sidebarToggle()" aria-controls="navbarTogglerDemo02" aria-expanded="false"-->
<!--                    aria-label="Toggle navigation" class="navbar-toggler navbar-burger" data-target="#navbarToggler"-->
<!--                    data-toggle="collapse" type="button">-->
<!--                <span class="navbar-toggler-bar"></span>-->
<!--                <span class="navbar-toggler-bar"></span>-->
<!--                <span class="navbar-toggler-bar"></span>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="navbar-collapse" id="navbarToggler">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--                &lt;!&ndash;                <li class="nav-item" *ngIf="!isDocumentation()">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" >&ndash;&gt;-->
<!--                &lt;!&ndash;                        <i class="fa fa-twitter"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p class="d-lg-none">Twitter</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </li>&ndash;&gt;-->
<!--                &lt;!&ndash;                <li class="nav-item" *ngIf="!isDocumentation()">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" >&ndash;&gt;-->
<!--                &lt;!&ndash;                        <i class="fa fa-facebook-square"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p class="d-lg-none">Facebook</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </li>&ndash;&gt;-->

<!--                &lt;!&ndash;                <li class="nav-item" *ngIf="!isDocumentation()">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/CreativeTimOfficial/paper-kit-2-angular" >&ndash;&gt;-->
<!--                &lt;!&ndash;                        <i class="fa fa-github"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p class="d-lg-none">GitHub</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </li>&ndash;&gt;-->

<!--                <li *ngIf="!isindex()" class="nav-item ">-->
<!--                    <a [routerLink]="['/home']" class="nav-link" style="font-size: 10px">-->
<!--                        <i aria-hidden="true" class="fa fa-home" style="font-size: 15px"></i>-->
<!--                        Accueil</a>-->
<!--                </li>-->

<!--                &lt;!&ndash;                <li class="nav-item" *ngIf="!isDocumentation()">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a  [routerLink]="['/module']" class="nav-link" style="font-size: 10px"><i class="fa fa-home" aria-hidden="true"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                        add product</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </li>&ndash;&gt;-->


<!--                <li *ngIf="!isFormation()" class="nav-item ">-->
<!--                    <a [routerLink]="['/formation']" class="nav-link">-->
<!--                        <i aria-hidden="true" class="fa fa-graduation-cap" style="font-size: 15px"></i>-->
<!--                        Formation</a>-->
<!--                </li>-->

<!--                <li *ngIf="!isOverseaeducation()" class="nav-item ">-->
<!--                    <a [routerLink]="['/overseaseducation']" class="nav-link" style="font-size: 10px">-->
<!--                        &lt;!&ndash;                    <a [routerLink]="['/congreslist']" class="nav-link" style="font-size: 10px" >&ndash;&gt;-->
<!--                        <i aria-hidden="true" class="fa fa-plane" style="font-size: 15px"></i>-->
<!--                        Etude a l'étranger</a>-->
<!--                </li>-->


<!--                <li *ngIf="!isCongres()" class="nav-item ">-->
<!--                    <a [routerLink]="['/congres']" class="nav-link" style="font-size: 10px"><i aria-hidden="true"-->
<!--                                                                                               class="fa fa-users"-->
<!--                                                                                               style="font-size: 15px"></i>-->
<!--                        Congres & seminaires</a>-->
<!--                </li>-->


<!--                <li *ngIf="!isMateriel()" class="nav-item ">-->
<!--                    <a [routerLink]="['/produitbio']" class="nav-link" style="font-size: 10px"><i-->
<!--                            aria-hidden="true" class="fa fa-handshake-o" style="font-size: 15px"></i>-->
<!--                        Materiel Biomedical</a>-->
<!--                </li>-->


<!--                <li *ngIf="!isDocumentation()" class="nav-item ">-->
<!--                    &lt;!&ndash;                    <a  class="nav-link" href="https://api.whatsapp.com/send?phone=212632360909&text=welcome%20to%20nano%20planete" style="font-size: 10px"><i style="font-size: 15px" class="fa fa-phone" aria-hidden="true"></i>&ndash;&gt;-->
<!--                    <a class="nav-link" style="font-size: 10px"><i aria-hidden="true" class="fa fa-phone"-->
<!--                                                                   style="font-size: 15px"></i>-->
<!--                        Contact</a>-->
<!--                </li>-->


<!--                <li *ngIf="!islogin() && !isRegister() " class="nav-item ">-->
<!--                    <a [routerLink]="['/login']" class="nav-link" style="font-size: 10px">-->
<!--                        <i aria-hidden="true" class="fa fa-user" style="font-size: 15px"></i>-->
<!--                        Login</a>-->
<!--                </li>-->


<!--                <li *ngIf="!isCheckout() && !isPanier()" class="nav-item ">-->
<!--                    <a [routerLink]="['/panier']" class="nav-link" style="font-size: 10px">-->
<!--                        <i aria-hidden="true" class="fa fa-shopping-cart" style="font-size: 15px"></i>-->
<!--                        Panier</a>-->
<!--                </li>-->


<!--                &lt;!&ndash;                <li class="nav-item" *ngIf="!isDocumentation()">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" >&ndash;&gt;-->
<!--                &lt;!&ndash;                        <i class="fa fa-instagram"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p class="d-lg-none">Instagram</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </li> &ndash;&gt;-->


<!--                &lt;!&ndash;                <li class="nav-item" *ngIf="!isDocumentation()">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a class="nav-link" rel="tooltip" title="contactez nous sur whatsapp" data-placement="bottom" href="https://www.whatsapp.com/CreativeTimOfficial" >&ndash;&gt;-->
<!--                &lt;!&ndash;                        <i class="fa fa-whatsapp"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p class="d-lg-none">Whatsapp</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </li>&ndash;&gt;-->


<!--                &lt;!&ndash;                <li class="nav-item" *ngIf="!isHome()">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i class="nc-icon nc-layout-11"></i>Components</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </li>&ndash;&gt;-->

<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg  fixed-top navbar-transparent justify-content-center" color-on-scroll="500" >
    <div class="container">
        <div class="navbar-translate col-sm-0">
            <a *ngIf=" !islogin() && !isRegister()" class="navbar-brand " style="color: black">Nano <span style="color: #00bbff">planete</span></a>
            <!--            <a class="navbar-brand " style="color: black">Nano <span style="color: black">planete</span></a>-->
            <button (click)="sidebarToggle()" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation" class="navbar-toggler navbar-burger" data-target="#navbarToggler"
                    data-toggle="collapse" type="button">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">


                <li *ngIf="!isindex() && !isRegister() && !islogin() " class="nav-item ">
                    <a [routerLink]="['/home']" class="nav-link" style="font-size: 10px; color: black">
                        <i aria-hidden="true" class="fa fa-home" style="font-size: 15px"></i>
                        Accueil</a>
                </li>



                <li *ngIf="!isFormation() && !islogin() && !isRegister()" class="nav-item ">
                    <a [routerLink]="['/formation']" class="nav-link" style=" color: black;">
                        <i aria-hidden="true" class="fa fa-graduation-cap" style="font-size: 15px"></i>
                        Formation</a>
                </li>

                <li *ngIf="!isOverseaeducation() && !islogin() && !isRegister()" class="nav-item ">
                    <a [routerLink]="['/overseaseducation']" class="nav-link" style="font-size: 10px ; color: black">
                        <!--                    <a [routerLink]="['/congreslist']" class="nav-link" style="font-size: 10px" >-->
                        <i aria-hidden="true" class="fa fa-plane" style="font-size: 15px"></i>
                        Etude a l'étranger</a>
                </li>


                <li *ngIf="!isCongres() && !islogin() && !isRegister()" class="nav-item ">
                    <a [routerLink]="['/congres']" class="nav-link" style="font-size: 10px ; color: black"><i aria-hidden="true"
                                                                                                              class="fa fa-users"
                                                                                                              style="font-size: 15px"></i>
                        Congres & seminaires</a>
                </li>


                <li *ngIf="!isMateriel() && !islogin() && !isRegister() && !isVisitorproducts()" class="nav-item ">
                    <a [routerLink]="['/produit-bio']" class="nav-link" style="font-size: 10px ; color: black"><i
                            aria-hidden="true" class="fa fa-handshake-o" style="font-size: 15px"></i>
                        Materiel Biomedical</a>
                </li>


                <li *ngIf="!islogin() && !isRegister()" class="nav-item ">
                    <!--                    <a  class="nav-link" href="https://api.whatsapp.com/send?phone=212632360909&text=welcome%20to%20nano%20planete" style="font-size: 10px"><i style="font-size: 15px" class="fa fa-phone" aria-hidden="true"></i>-->
                    <a [ngStyle]="" class="nav-link" style="font-size: 10px ; color: black"><i aria-hidden="true" class="fa fa-phone"
                                                                                  style="font-size: 15px"></i>
                        Contact</a>
                </li>

                <li *ngIf="!isCheckout() && !isPanier() && !islogin() && !isRegister()" class="nav-item ">
                    <a [routerLink]="['/panier']" class="nav-link" style="font-size: 10px ; color: black">
<!--                    <a [routerLink]="['/panier']" class="nav-link" style="font-size: 10px ; color: black">-->
                        <i aria-hidden="true" class="fa fa-shopping-cart" style="font-size: 15px"></i>
                        Panier</a>
                </li>

                <li *ngIf="!islogin()  && !isRegister() " class="nav-item ">
                <a [routerLink]="['/login']" class="nav-link" style="font-size: 10px ; color: black">
                <i aria-hidden="true" class="fa fa-user" style="font-size: 15px"></i>
                Login</a>
                </li>




            </ul>
        </div>
    </div>
</nav>
