<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/team.jpg');">
        <div class="filter"></div>
        <div class="container col-lg-12 col-sm-12">

            <div class="row">
                <div class="col-lg-8 col-sm-6 mr-auto ml-auto">

                    <div class="card card-register " style="background-color: black; opacity: 0.6;">
                        <div class="text-center ">
                            <h3>Edite une Formation</h3>
                        </div>

                        <label>Nom De Formation</label>
                        <div class="input-group form-group-no-border">
                            <div class="input-group-prepend">
                            </div>
                            <input [(ngModel)]="selectedFormation.nom" class="form-control"
                                   placeholder="Nom Formation"
                                   type="text">
                        </div>


                        <label>Nombre Des Places</label>
                        <div [ngClass]="{'input-group-focus':focus1===true} "
                             class="input-group form-group-no-border justify-content-center">
                            <div class="input-group-prepend">
                            </div>
                            <input (blur)="focus1=false" (focus)="focus1=true"
                                   [(ngModel)]="selectedFormation.nombrePlace"
                                   class="form-control" placeholder="nombre des Places" type="number">
                        </div>
                        <label>Encadrent</label>
                        <div [ngClass]="{'input-group-focus':focus===true}"
                             class="input-group form-group-no-border">
                            <div class="input-group-prepend">
                            </div>

                            <input (blur)="focus=false" (focus)="focus=true"
                                   [(ngModel)]="selectedFormation.encadrantProf"
                                   class="form-control"
                                   placeholder="Encadrent" type="text">
                        </div>
                        <label>Prix</label>
                        <div [ngClass]="{'input-group-focus':focus===true}"
                             class="input-group form-group-no-border">
                            <div class="input-group-prepend">
                                <!--                                  <span class="input-group-text">-->
                                <!--&lt;!&ndash;                                  <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;-->
                                <!--                                  </span>-->
                            </div>

                            <input (blur)="focus=false" (focus)="focus=true"
                                   [(ngModel)]="selectedFormation.prix"
                                   class="form-control"
                                   placeholder="Prix" type="number">
                        </div>
                        <label>Durée</label>
                        <div [ngClass]="{'input-group-focus':focus===true}"
                             class="input-group form-group-no-border">
                            <div class="input-group-prepend">
                            </div>
                            <input (blur)="focus=false" (focus)="focus=true"
                                   [(ngModel)]="selectedFormation.duree"
                                   class="form-control"
                                   placeholder="Durée" type="text">
                        </div>
                        <label>Description</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            </div>
                            <textarea [(ngModel)]="selectedFormation.description" aria-label="With textarea"
                                      class="form-control"

                                      placeholder="Description"></textarea>
                        </div>
                        <div class="custom-control custom-switch">
                            <input [(ngModel)]="selectedFormation.visible" checked
                                   class="custom-control-input"
                                   id="customSwitch1" type="checkbox">
                            <label class="custom-control-label" for="customSwitch1">Visible</label>
                        </div>
                        <button (click)="edit()" class="btn  btn-block btn-round" style="background-color: deepskyblue ; color: black"
                                type="submit">Ajouter
                        </button>

                    </div>
                </div>
            </div>

        </div>
    </div>

