<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
      integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>
<div class="container">
    <div class="row" style="height: 500px;">
        <div class="col-lg-3 left">
            <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                <img src="assets/img/account.png" class="img-fluid" alt="Responsive image"/>
                <div class="p-3 border-bottom">
                    <h6 class="font-weight-bold text-dark">Notifications</h6>
                    <p class="mb-0 text-muted"></p>
                </div>
                <div class="p-3">
                    <button type="button" class="btn btn-outline-success btn-sm pl-4 pr-4">voir parametre</button>
                </div>
            </div>
            <div class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
                <div class="p-5">
                    <img src="assets/img/account.png" class="img-fluid" alt="Responsive image"/>
                </div>
                <div class="p-3 border-top border-bottom">
                    <h5 class="font-weight-bold text-dark mb-1 mt-0">{{user.username}}</h5>
                    <p class="mb-0 text-muted">{{user.city}}, {{user.pays}}</p>
                </div>
                <div class="p-3">
                    <div class="d-flex align-items-top mb-2">
                        <p class="mb-0 text-muted">Connecte:</p>
                        <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">1 jour</p>
                    </div>
                    <div class="d-flex align-items-top">
                        <p class="mb-0 text-muted">Nombre d'achats: </p>
                        <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">0</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 right">
            <div class="box shadow-sm rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Recent</h6>
                </div>
                <div class="box-body p-0" *ngFor="let not of notifications">
                    <div class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header">
                        <div class="dropdown-list-image mr-3">
                            <img *ngIf="not.status === 'Urgent'" class="rounded-circle" src="assets/img/alarm.png" alt=""/>
                            <img *ngIf="not.status === 'Promotion'" class="rounded-circle" src="assets/img/discount.png" alt=""/>
                            <img *ngIf="not.status === 'Evenement'" class="rounded-circle" src="assets/img/event.png" alt=""/>
                            <img *ngIf="not.status === 'Ads'" class="rounded-circle" src="assets/img/advertisement.png" alt=""/>
                            <img *ngIf="not.status === 'Notification'" class="rounded-circle" src="assets/img/notification.png" alt=""/>
                            <img *ngIf="not.status === 'Info'" class="rounded-circle" src="assets/img/file.png" alt=""/>
                        </div>
                        <div class="font-weight-bold mr-3">
                            <div class="text-truncate">{{not.status}}</div>
                            <div class="small">{{not.message}}</div>
                        </div>

                    </div>
                </div>
                <div class="box shadow-sm rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">PLUS TÔT</h6>
                    </div>
                    <div class="box-body p-0">

                        <div class="p-3 d-flex align-items-center osahan-post-header">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="assets/img/account.png" alt=""/>
                            </div>
                            <div class="font-weight-bold mr-3">
                                <div>
                                    <span class="font-weight-normal">Bonjour {{user.username}} a Nano planete</span>
                                    Decouvrez nos
                                    formations et nouveautes.
                                </div>
                            </div>
                            <span class="ml-auto mb-auto">
                            <div class="btn-group">
                                <div class="dropdown-menu dropdown-menu-right">
                                </div>
                            </div>
                            <br/>
                            <div class="text-right text-muted pt-1">4d</div>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
