
<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header" style="background-image: url('./assets/img/smoke.jpg');">
        <div class="filter"></div>
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mr-auto ml-auto">


                    <div class="col-md-12 col-xl-12">

                        <div class="card mask-custom">
                            <div class="card-body p-1 text-white">

                                <div class="text-center pt-0 pb-2">

                                    <h2 class="my-4">Liste des produits</h2>
                                </div>
                                <div style="overflow-x:auto; ">
                                    <table class="table text-white mb-0" >

                                        <thead>
                                        <tr>
                                            <th scope="col">Nom </th>
                                            <th scope="col">Quantité</th>
                                            <th scope="col">Prix</th>
                                            <th scope="col">Promo?</th>
                                            <th scope="col">Visible</th>
                                            <th scope="col">Modifier</th>
                                        </tr>
                                        </thead>
                                        <tbody>



                                        <tr class="fw-normal">
                                            <th>
                                                <img src="assets/img/manm.jpg"
                                                     alt="avatar 1" style="width: 45px; height: auto;">
                                                <span class="ms-2" style="padding-left: 1em;">microscope</span>
                                            </th>



                                            <!-----------------------------------------------Quantité------------------------------------------------------------------------------>

                                            <td class="align-middle">125614 pcs</td>

                                            <!-----------------------------------------------Prix------------------------------------------------------------------------------>

                                            <td class="align-middle">
                                                <h5 class="mb-0"><span class="badge "style="background-color: #00bbff">120 dh</span></h5>
                                            </td>

                                            <!-----------------------------------------------Promo--------------------------------------->
                                            <td class="align-middle">
                                                <h6 ><div class="custom-control custom-switch mt-2">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                                    <label class="custom-control-label" for="customSwitch1"></label>
                                                </div></h6>
                                                <!--                                    <h6 ><input class="mt-3" type="checkbox"></h6>-->
                                            </td>



                                            <!-----------------------------------------------Visible--------------------------------------->
                                            <td class="align-middle">
                                                <h6 ><div class="custom-control custom-switch mt-2">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                                    <label class="custom-control-label" for="customSwitch1"></label>
                                                </div></h6>
                                                <!--                                    <h6 ><input class="mt-3" type="checkbox"></h6>-->
                                            </td>

                                            <!------------------------------------------------Modifier-------------------------------------->
                                            <td class="align-middle">
                                                <a data-mdb-toggle="tooltip" title="Modifier">
                                                    <i  style="font-size: 15px;color: deepskyblue"  class="fa fa-pencil-square" aria-hidden="true"></i>
                                                </a>
                                                <a href="#!" data-mdb-toggle="tooltip" title="supprimer" ><i  style="font-size: 15px;color: red ; padding-left: 2em" class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



