<nav class="navbar navbar-expand-lg  fixed-top  justify-content-center" color-on-scroll="500" >
    <div class="container">
        <div class="navbar-translate col-sm-0">
            <a class="navbar-brand ">Nano <span style="color: #00bbff">planete</span></a>
            <button (click)="sidebarToggle()" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation" class="navbar-toggler navbar-burger" data-target="#navbarToggler"
                    data-toggle="collapse" type="button">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                    <a [routerLink]="['/gerant/commandes']" class="nav-link" style="font-size: 10px">
                        <i aria-hidden="true" class="fa fa-shopping-cart"></i>
                        Commandes</a>
                </li>

                <li class="nav-item ">
                    <a [routerLink]="['/gerant/produit-bio']" class="nav-link" style="font-size: 10px">
                        <i aria-hidden="true" class="fa fa-archive"></i>
                        Produits</a>
                </li>

                <li class="nav-item ">
                    <a [routerLink]="['/gerant/congres']" class="nav-link" style="font-size: 10px">
                        <i aria-hidden="true" class="fa fa-plus-square"></i>
                        Congrés et siminaires</a>
                </li>


                <li class="nav-item ">
                    <a [routerLink]="['/gerant/formation']" class="nav-link" style="font-size: 10px">
                        <i aria-hidden="true" class="fa fa-plus-square"></i>
                        Formations</a>
                </li>


                <li class="nav-item ">
                    <a [routerLink]="['/gerant/user']" class="nav-link" style="font-size: 10px">

                        <i aria-hidden="true" class="fa fa-user" style="font-size: 15px"></i>
                        Utilisateurs</a>
                </li>

                <li class="nav-item ">
                    <a (click)="logOut()" class="nav-link" style="font-size: 10px">
                        <i aria-hidden="true" class="fa fa-sign-out"></i>
                        Se deconnecter</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
