<app-navbar></app-navbar>

<router-outlet></router-outlet>
<!--<app-footer *ngIf="removeFooter() && !isLogin() && !isRegister() && !isPanier() && !isProductCreate() && !isCheckout() && !isFormation() && !isCongres() && !isOverseaeducation()"></app-footer>-->
<!--<app-footer *ngIf="removeFooter() && !isLogin() && !isRegister() && !isPanier() && !isProductCreate() && !isCheckout() && !isFormation() && !isCongres() && !isOverseaeducation()"></app-footer>-->
<app-footer *ngIf="removeFooter() && !isLogin() && !isRegister() && !isCheckout() "></app-footer>
<!--<app-footer></app-footer>-->
