<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/team.jpg');">
        <div class="filter"></div>
        <div class="container col-lg-12 col-sm-12">

            <div class="row">
                <div class="col-lg-7 col-sm-5 mr-auto ml-auto">

                    <div class="card card-register " style="background-color: black; opacity: 0.6;">
                        <div class="text-center ">
                            <h3>Créer un compte</h3>
                            <!--                            <p class="lead"></p>-->
                        </div>
                        <form class="register-form col-lg-12" [formGroup]="registerForm">

                            <label>Nom d'Utilisateur</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>

                                  </span>
                                </div>

                                <input type="text" class="form-control" formControlName="username" placeholder="Nom d'utilisateur" (focus)="focus=true" (blur)="focus=false" >
                            </div>


                            <label>Numero telephone</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                   <i class="fa fa-phone-square" aria-hidden="true"></i>

                                  </span>
                                </div>

                                <input type="text" class="form-control" formControlName="phone" placeholder="Numéro telephone" (focus)="focus=true" (blur)="focus=false" >
                            </div>

                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                  </span>
                                </div>

                                <input type="text" class="form-control" formControlName="email" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                            </div>



                            <label>Password</label>
                            <div class="input-group form-group-no-border justify-content-center" [ngClass]="{'input-group-focus':focus1===true} ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                     <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                  </span>
                                </div>
                                <input type="password" class="form-control" formControlName="password" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                            <button class="btn  btn-block btn-round" (click)="submit()" style="background-color: deepskyblue ; color: black" >Valider</button>
                        </form>
                        <div class="forgot">
                            <a class="btn btn-link btn-danger" [routerLink]="['/login']">Vous avez deja un Compte ?</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>















