<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/moke.jpg');">
        <div class="filter"></div>
        <div class="container col-lg-12 col-sm-12">

            <div class="row">
                <div class="col-lg-8 col-sm-6 mr-auto ml-auto">

                    <div class="card card-register " style="background-color: black; opacity: 0.6;">
                        <div class="text-center ">
                            <h3>Créer un compte</h3>
                            <!--                            <p class="lead"></p>-->
                        </div>
                        <form [formGroup]="registerForm" class="register-form col-lg-12">

                            <label>Nom d'Utilisateur</label>
                            <div [ngClass]="{'input-group-focus':focus===true}"
                                 class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                  <i aria-hidden="true" class="fa fa-user-circle-o"></i>

                                  </span>
                                </div>

                                <input (blur)="focus=false" (focus)="focus=true" class="form-control"
                                       formControlName="username" placeholder="Nom d'utilisateur" type="text">
                            </div>


                            <!--                            <label>Prenom</label>-->
                            <!--                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">-->
                            <!--                                <div class="input-group-prepend">-->
                            <!--                                  <span class="input-group-text">-->
                            <!--                                     <i class="fa fa-user" aria-hidden="true"></i>-->
                            <!--                                  </span>-->
                            <!--                                </div>-->

                            <!--                                <input type="text" class="form-control" placeholder="Prénom" (focus)="focus=true" (blur)="focus=false" >-->
                            <!--                            </div>-->

                            <label>Numero telephone</label>
                            <div [ngClass]="{'input-group-focus':focus===true}"
                                 class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                   <i aria-hidden="true" class="fa fa-phone-square"></i>

                                  </span>
                                </div>

                                <input (blur)="focus=false" (focus)="focus=true" class="form-control"
                                       formControlName="phone" placeholder="Numéro telephone" type="text">
                            </div>

                            <label>Email</label>
                            <div [ngClass]="{'input-group-focus':focus===true}"
                                 class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                  <i aria-hidden="true" class="fa fa-envelope"></i>
                                  </span>
                                </div>

                                <input (blur)="focus=false" (focus)="focus=true" class="form-control" formControlName="email"
                                       placeholder="Email" type="text">
                            </div>


                            <label>Password</label>
                            <div [ngClass]="{'input-group-focus':focus1===true} "
                                 class="input-group form-group-no-border justify-content-center">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                     <i aria-hidden="true" class="fa fa-unlock-alt"></i>
                                  </span>
                                </div>
                                <input (blur)="focus1=false" (focus)="focus1=true" class="form-control"
                                       formControlName="password" placeholder="Password" type="password">
                            </div>
                            <button (click)="submit()" class="btn  btn-block btn-round"
                                    style="background-color: deepskyblue ; color: black">Valider
                            </button>

                        </form>
                        <!--                        <div class="forgot">-->
                        <!--                            <a class="btn btn-link btn-danger">Forgot password?</a>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <!--            </div>-->
                <!--                        <div class="footer register-footer text-center">-->
                <!--                            <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>-->
                <!--                        </div>-->
            </div>
        </div>
    </div>















