<div class="d-lg-flex half">
    <div class="bg order-1   order-md-2" style="background-image: url('assets/img/pc stud.jpg'); "></div>
    <div class="contents order-2 order-md-1">

        <div class="container" style="background-color: white">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3 style="text-align: center" [routerLink]="['/home']"> <i aria-hidden="true" class="fa fa-home"  style="font-size: 25px;cursor: pointer"></i></h3>
                    <h3 style="text-align: center"> <strong>Nano<span style="   color: #00bbff">planete</span> </strong></h3>
                    <!--                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>-->
                    <!--                    <form action="#" method="post">-->
                    <form class="register-form col-lg-12" [formGroup]="registerForm">
                        <div class="form-group  mb-0"><br>
<!--                            <label for="username">Nom d'utilisateur</label>-->
                            <input type="text" class="form-control" formControlName="username" placeholder="Utilisateur" id="username">
                        </div>

<!--                        <div class="input-group  mt-2"><br>-->
<!--&lt;!&ndash;                            <label for="username">Nom d'utilisateur</label>&ndash;&gt;-->
<!--                            <input type="text" class="form-control" formControlName="nom" placeholder="Nom " id="nom">-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="form-group  mb-0"><br>&ndash;&gt;-->
<!--&lt;!&ndash;                            <label for="username">Nom d'utilisateur</label>&ndash;&gt;-->
<!--                            <input type="text " class="form-control mx-2" formControlName="prenom" placeholder="Prénom " id="prenom">-->
<!--                        </div>-->

                        <div class="form-group  mb-0"><br>
<!--                            <label for="username">Numéro telephone</label>-->
                            <input type="text" class="form-control" (ngModelChange)="verifyPhone(phone)" [(ngModel)]="phone" formControlName="phone" placeholder="Numéro telephone" id="phone">
                        </div>

                        <div class="form-group first  mb-3"><br>
<!--                            <label for="username">Email</label>-->
                            <input type="text" class="form-control" (ngModelChange)="verifyEmail(mail)"  [(ngModel)]="mail" formControlName="email" placeholder="Email" id="Email">
                        </div>


                        <div class="form-group last mb-3">
<!--                            <label for="password">Mot de passe</label>-->
                            <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe" id="password">
                        </div>

                        <div class="form-group last mb-3">
<!--                            <label for="password">Confirmation mot de passe</label>-->
                            <div class="input-group form-group-no-border justify-content-center" >
<!--                                <div class="input-group-prepend">-->
<!--                                  <span class="input-group-text">-->
<!--                                     <i class="fa fa-unlock-alt" aria-hidden="true"></i>-->
<!--                                  </span>-->
<!--                                </div>-->
                                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmation mot de passe">
                                <!--                                <span *ngIf="showWarrning"> Password did not match ! </span>-->

                            </div>                        </div>

                            <button class="btn  btn-block btn-round" [disabled]="!(!this.active && !this.active2)" (click)="submit()" style="background-color: deepskyblue ;border: none" >S'inscrire</button>
                        </form>
<!--                        <div class="forgot">-->
<!--                            <a class=" mx-5 mb-3 "  [routerLink]="['/login']" >Vous avez deja un Compte ?</a>-->
<!--                        </div>-->
                    <div class="forgot"><br>
                        <h6 style="color: black;text-align: center;cursor: pointer;" [routerLink]="['/login']">Vous avez deja un Compte ?</h6>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
















