<div class="container px-4 px-lg-12 my-5" style="background-color: white; border-radius: 1%">
    <div class="row gx-4 gx-lg-5 align-items-center">

        <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" [src]="produit.imagePrincipal?.picByte" style="border-radius: 2%"
                 alt="..."/>
        </div>
        <div class="col-md-4">
            <!--            <div class="small mb-1">Marque: </div>-->
            <div class="display-6 fw-bolder pt-5"><h6>{{produit.nom}}</h6></div>
            <h6 class="small mb-1">Reste:  {{produit.quantity}}</h6>
            <div class="fs-5 mb-5">
                <span class="text-decoration-line-through" style="color: red">{{produit.prixAncien}} DH</span>
                <br>
                <span style="margin-top: 20px;color: green">{{produit.prix}} DH</span><br><br>
                <p class="lead">{{produit.description}}</p>
            </div>

            <div class="d-flex mb-5">
                <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="back()"
                        style="background-color: #00bbff;border: none">
                    Retourne
                </button>
                <button class="btn btn-outline-dark flex-shrink-0 ml-5" type="button" (click)="check()"
                        style="background-color: black">

                    Ajouter au panier
                </button>
            </div>
        </div>

    </div>
</div>



<div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Voir aussi</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" *ngFor="let prod of produitBios">
<!--        <div class="col mb-5">-->
            <div class="card h-100">
                <!-- prodduct image-->
                <img [src]="prod.imagePrincipal.picByte" alt="..." class="card-img-top"/>
                <!-- prodduct details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- prodduct name-->
                        <h5 class="fw-bolder">{{prod.nom}}</h5>
                        <!-- prodduct price-->
                        {{prod.prix}}
                    </div>
                </div>
                <!-- prodduct actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" (click)="redirect(prod.id)">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" >View options</a></div>
                </div>
            </div>
        </div>
        
        
<!--        <div class="col mb-5">-->
<!--            <div class="card h-100">-->
<!--                &lt;!&ndash; prodduct image&ndash;&gt;-->
<!--                <img [src]="produitBios[1].imagePrincipal.picByte" alt="..." class="card-img-top"/>-->
<!--                &lt;!&ndash; prodduct details&ndash;&gt;-->
<!--                <div class="card-body p-4">-->
<!--                    <div class="text-center">-->
<!--                        &lt;!&ndash; prodduct name&ndash;&gt;-->
<!--                        <h5 class="fw-bolder">{{produitBios[1].nom}}</h5>-->
<!--                        &lt;!&ndash; prodduct price&ndash;&gt;-->
<!--                        {{produitBios[1].prix}}-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; prodduct actions&ndash;&gt;-->
<!--                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                    <div class="text-center">-->
<!--                        <a class="btn btn-outline-dark mt-auto" routerLink="/client/produit-bio/{{produitBios[1].id}}">View options</a></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col mb-5">-->
<!--            <div class="card h-100">-->
<!--                &lt;!&ndash; prodduct image&ndash;&gt;-->
<!--                <img [src]="produitBios[2].imagePrincipal.picByte" alt="..." class="card-img-top"/>-->
<!--                &lt;!&ndash; prodduct details&ndash;&gt;-->
<!--                <div class="card-body p-4">-->
<!--                    <div class="text-center">-->
<!--                        &lt;!&ndash; prodduct name&ndash;&gt;-->
<!--                        <h5 class="fw-bolder">{{produitBios[2].nom}}</h5>-->
<!--                        &lt;!&ndash; prodduct price&ndash;&gt;-->
<!--                        {{produitBios[2].prix}}  id: {{produitBios[2].id}}-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; prodduct actions&ndash;&gt;-->
<!--                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                    <div class="text-center">-->
<!--                        <a class="btn btn-outline-dark mt-auto" routerLink="/client/produit-bio/{{produitBios[2].id}}">{{produitBios[2].id}} View options</a></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col mb-5">-->
<!--            <div class="card h-100">-->
<!--                &lt;!&ndash; prodduct image&ndash;&gt;-->
<!--                <img [src]="produitBios[3].imagePrincipal.picByte" alt="..." class="card-img-top"/>-->
<!--                &lt;!&ndash; prodduct details&ndash;&gt;-->
<!--                <div class="card-body p-4">-->
<!--                    <div class="text-center">-->
<!--                        &lt;!&ndash; prodduct name&ndash;&gt;-->
<!--                        <h5 class="fw-bolder">{{produitBios[3].nom}}</h5>-->
<!--                        &lt;!&ndash; prodduct price&ndash;&gt;-->
<!--                        {{produitBios[3].prix}}-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; prodduct actions&ndash;&gt;-->
<!--                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" [routerLink]="['./', produitBios[3].id]">-->
<!--                    <div class="text-center">-->
<!--                        <a class="btn btn-outline-dark mt-auto">View options</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        
        
        
        
        
        
        
    </div>
</div>
<!--</section>-->


