<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header" style="background-image: url('./assets/img/team.jpg');">
        <div class="filter"></div>
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mr-auto ml-auto">


                    <div class="col-md-12 col-xl-12">

                        <div class="card mask-custom">
                            <div class="card-body p-1">

                                <div class="text-center pt-0 pb-2">

                                    <h2 class="my-4">Liste des Utilisateurs</h2>
                                </div>
                                <button (click)="add()" class="btn btn-outline-primary">Ajouter un Utilisateurs</button>
                                <div style="overflow-x:auto; ">
                                    <table class="table  mb-0" >

                                        <thead>
                                        <tr>
                                            <th scope="col"> Authority </th>
                                            <th scope="col"> Utilisateur </th>
                                            <th scope="col"> Email </th>
                                            <th scope="col"> Tele </th>
                                            <th scope="col"> Nom </th>
                                            <th scope="col"> Prenom </th>
                                            <th scope="col"> cree a </th>
                                        </tr>
                                        </thead>
                                        <tbody>



                                        <tr class="fw-normal" *ngFor="let user of users">
                                            <th>
                                                <img src="assets/img/manm.jpg"
                                                     alt="avatar 1" style="width: 45px; height: auto;">
                                                <span class="ms-2" style="padding-left: 1em;">{{user.username}}</span>
                                            </th>
                                            <td class="align-middle">{{user.email}}</td>
                                            <td class="align-middle">{{user.phone}}</td>
                                            <td class="align-middle">{{user.nom}}</td>
                                            <td class="align-middle">{{user.prenom}}</td>
                                            <td class="align-middle">{{user.createdAt}}</td>
                                            <td class="align-middle">
                                                <a  data-mdb-toggle="tooltip" title="supprimer" ><i (click)="delete(user)" style="font-size: 15px;color: red ; padding-left: 2em" class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



