<div class="page-header" style="background-image: url('./assets/img/smoke.jpg');">

    <div class="col-md-8 col-sm-6 mt-5">
        <div class="payment-info">
            <div class="d-flex justify-content-between align-items-center"><span>Détails de la carte</span></div>
            <span class="type d-block mt-3 mb-1">type de la carte</span><label class="radio"> <input checked
                                                                                                     name="card"
                                                                                                     type="radio"
                                                                                                     value="payment">
            <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="30"/></span> </label>

            <label class="radio"> <input name="card" type="radio" value="payment"> <span><img src="https://img.icons8.com/officel/48/000000/visa.png"
                                                                                              width="30"/></span>
            </label>

            <label class="radio"> <input name="card" type="radio" value="payment"> <span><img src="https://img.icons8.com/ultraviolet/48/000000/amex.png"
                                                                                              width="30"/></span>
            </label>


            <label class="radio"> <input name="card" type="radio" value="payment"> <span><img src="https://img.icons8.com/officel/48/000000/paypal.png"
                                                                                              width="30"/></span>
            </label>
            <div><label class="credit-card-label">Nom de Titulaire</label><input class="form-control credit-inputs"
                                                                                 placeholder="Name"
                                                                                 type="text"></div>
            <div><label class="credit-card-label">Numéro de la carte</label><input class="form-control credit-inputs"
                                                                                   placeholder="0000 0000 0000 0000"
                                                                                   type="text">
            </div>
            <div class="row">
                <div class="col-md-6"><label class="credit-card-label">Date</label><input class="form-control credit-inputs"
                                                                                          placeholder="12/24"
                                                                                          type="text"></div>
                <div class="col-md-6"><label class="credit-card-label">CVV</label><input class="form-control credit-inputs"
                                                                                         placeholder="342"
                                                                                         type="text"></div>
                <div class="d-flex justify-content-center information "></div>
                <button class="btn  btn-block d-flex justify-content-center mt-4 mx-4 "
                        style="background-color: #00bbff" type="button"><span>Payer<i
                        class="fa fa-long-arrow-right ml-1"></i></span></button>
            </div>

        </div>
    </div>
</div>

