<!--<div class="container d-lg-flex">-->
<!--    <div class="box-1 bg-light user">-->
<!--        <div class="d-flex align-items-center mb-3"><img-->
<!--                src="https://images.pexels.com/photos/4925916/pexels-photo-4925916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"-->
<!--                class="pic rounded-circle" alt="">-->
<!--            <p class="ps-2 name">Oliur</p></div>-->
<!--        <div class="box-inner-1 pb-3 mb-3 ">-->
<!--            <div class="d-flex justify-content-between mb-3 userdetails"><p class="fw-bold">Vous aver {{item}} produits dans votre panier</p>-->
<!--&lt;!&ndash;                <p class="fw-lighter"><span class="fas fa-dollar-sign"></span>19.00</p>&ndash;&gt;-->
<!--            </div>-->
<!--&lt;!&ndash;            <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"&ndash;&gt;-->
<!--&lt;!&ndash;                 data-bs-interval="2000">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="carousel-indicators">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" data-bs-target="#my" data-bs-slide-to="0" class="active" aria-current="true"&ndash;&gt;-->
<!--&lt;!&ndash;                            aria-label="Slide 1"></button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" data-bs-target="#my" data-bs-slide-to="1" aria-label="Slide 2"></button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" data-bs-target="#my" data-bs-slide-to="2" aria-label="Slide 3"></button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="carousel-inner">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="carousel-item active"><img&ndash;&gt;-->
<!--&lt;!&ndash;                            src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"&ndash;&gt;-->
<!--&lt;!&ndash;                            class="d-block w-100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="carousel-item"><img&ndash;&gt;-->
<!--&lt;!&ndash;                            src="https://images.pexels.com/photos/270694/pexels-photo-270694.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"&ndash;&gt;-->
<!--&lt;!&ndash;                            class="d-block w-100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="carousel-item"><img&ndash;&gt;-->
<!--&lt;!&ndash;                            src="https://images.pexels.com/photos/7974/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500"&ndash;&gt;-->
<!--&lt;!&ndash;                            class="d-block w-100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="carousel-control-prev" type="button" data-bs-target="#my" data-bs-slide="prev">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="icon"><span class="fas fa-arrow-left"></span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="visually-hidden">Previous</span></button>&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="carousel-control-next" type="button" data-bs-target="#my" data-bs-slide="next">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="icon"><span class="fas fa-arrow-right"></span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="visually-hidden">Next</span></button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->


<!--            <div class="d-flex justify-content-between">-->
<!--&lt;!&ndash;                <span>Vous aver {{item}} produits dans votre panier</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="d-flex flex-row align-items-center"><span class="text-black-50">trier par:</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="price ml-2"><span class="mr-1">prix</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">-->
<!--                <div class="d-flex flex-row"><img class="rounded" src="assets/img/microscop.jpeg" width="40">-->
<!--                    <div class="ml-2"><span class="font-weight-bold d-block">produit 1</span>-->
<!--&lt;!&ndash;                        <span class="spec">description ....</span>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="d-flex flex-row align-items-center"><span class="d-block">x</span><span-->
<!--                        class="d-block ml-5 font-weight-bold">00.00dh</span><i-->
<!--                        class="fa fa-trash-o ml-3 text-black-50"></i></div>-->
<!--            </div>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->






<!--            <p class="dis my-3 info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quos ipsa sed-->
<!--                officiis odio libero consectetur placeat dignissimos et ab dolorum, nemo id provident quidem modi,-->
<!--                dolorem dolores quas quasi. </p>-->
<!--            <p class="dis mb-3 updates">Free updates forever</p>-->
<!--            <p class="dis mb-3 different">Three different colored sets:</p>-->
<!--            <div class="dis"><p class="black"><span class="fas fa-arrow-right mb-3 pe-2"></span>Black</p>-->
<!--                <p class="white"><span class="fas fa-arrow-right mb-3 pe-2"></span>White</p>-->
<!--                <p class="pastel"><span class="fas fa-arrow-right mb-3 pe-2"></span>Pastel</p></div>-->
<!--            <div><p class="dis footer my-3">Here is a quick guide on how to apply them</p></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="box-2">-->
<!--&lt;!&ndash;        <div class="box-inner-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <div><p class="fw-bold">Payment Details</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="dis mb-3">Complete your purchase by providing your payment details</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <form action="">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="mb-3"><p class="dis fw-bold mb-2">Email address</p> <input class="form-control" type="email"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                       value="luke@skywalker.com"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div><p class="dis fw-bold mb-2">Card details</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="d-flex align-items-center justify-content-between card-atm border rounded">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="fab fa-cc-visa ps-3"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text" class="form-control" placeholder="Card Details">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="d-flex w-50"><input type="text" class="form-control px-0" placeholder="MM/YY">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="my-3 cardname"><p class="dis fw-bold mb-2">Cardholder name</p> <input&ndash;&gt;-->
<!--&lt;!&ndash;                            class="form-control" type="text"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="address"><p class="dis fw-bold mb-3">Billing address</p> <select class="form-select"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                 aria-label="Default select example">&ndash;&gt;-->
<!--&lt;!&ndash;                        <option selected hidden>United States</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="1">India</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="2">Australia</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="3">Canada</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    </select>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="d-flex"><input class="form-control zip" type="text" placeholder="ZIP"> <input&ndash;&gt;-->
<!--&lt;!&ndash;                                class="form-control state" type="text" placeholder="State"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class=" my-3"><p class="dis fw-bold mb-2">VAT Number</p>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="inputWithcheck"><input class="form-control" type="text" value="GB012345B9">&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="fas fa-check"></span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="my-3"><p class="dis fw-bold mb-2">Discount Code</p> <input&ndash;&gt;-->
<!--&lt;!&ndash;                                class="form-control text-uppercase" type="text" value="BLACKFRIDAY" id="discount"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="d-flex flex-column dis">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="d-flex align-items-center justify-content-between mb-2"><p>Subtotal</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p><span class="fas fa-dollar-sign"></span>19.00</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="d-flex align-items-center justify-content-between mb-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="d-flex align-items-center"><p class="pe-2">Discount <span&ndash;&gt;-->
<!--&lt;!&ndash;                                        class="d-inline-flex align-items-center justify-content-between bg-light px-2 couponCode"> <span&ndash;&gt;-->
<!--&lt;!&ndash;                                        id="code" class="pe-2"></span> <span class="fas fa-times close"></span> </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                </p></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p><span class="fas fa-dollar-sign"></span>5.00</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="d-flex align-items-center justify-content-between mb-2"><p>VAT<span>(20%)</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            </p>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p><span class="fas fa-dollar-sign"></span>2.80</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="d-flex align-items-center justify-content-between mb-2"><p class="fw-bold">&ndash;&gt;-->
<!--&lt;!&ndash;                                Total</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p class="fw-bold"><span class="fas fa-dollar-sign"></span>16.80</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="btn btn-primary mt-2">Pay<span class="fas fa-dollar-sign px-1"></span>16.80&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->





<!--    </div>-->
<!--</div>-->

<!--<script>-->
<!--    var valcode = document.querySelector("#discount")-->
<!--    var namecode = document.querySelector("#code")-->
<!--    namecode.textContent = valcode.value-->

<!--    var closeBtn = document.querySelector(".close")-->
<!--    var couponCode = document.querySelector(".couponCode")-->
<!--    closeBtn.addEventListener("click", function () {-->
<!--        close()-->
<!--    })-->
<!--    valcode.addEventListener("change", function () {-->
<!--        checkDiscountCoupon()-->
<!--    })-->

<!--    function checkDiscountCoupon() {-->
<!--        if (valcode.value.length === 0) {-->
<!--// namecode.style.display = "none"-->
<!--            close()-->
<!--        }-->
<!--        else {-->
<!--            couponCode.classList.remove("d-none")-->
<!--            namecode.style.display = "inline"-->
<!--            namecode.textContent = valcode.value-->
<!--        }-->
<!--    }-->

<!--    function close() {-->
<!--        couponCode.classList.add("d-none")-->
<!--        valcode.value = ""-->
<!--    }-->
<!--</script>-->








<!--&lt;!&ndash;<div class="page-header" style="background-image: url('./assets/img/smoke.jpg');">&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="col-md-8 col-sm-6 mt-5">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="payment-info">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="d-flex justify-content-between align-items-center"><span>Détails de la carte</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="type d-block mt-3 mb-1">type de la carte</span><label class="radio"> <input checked&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                     name="card"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                     type="radio"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                     value="payment">&ndash;&gt;-->
<!--&lt;!&ndash;            <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="30"/></span> </label>&ndash;&gt;-->

<!--&lt;!&ndash;            <label class="radio"> <input name="card" type="radio" value="payment"> <span><img src="https://img.icons8.com/officel/48/000000/visa.png"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                              width="30"/></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </label>&ndash;&gt;-->

<!--&lt;!&ndash;            <label class="radio"> <input name="card" type="radio" value="payment"> <span><img src="https://img.icons8.com/ultraviolet/48/000000/amex.png"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                              width="30"/></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </label>&ndash;&gt;-->


<!--&lt;!&ndash;            <label class="radio"> <input name="card" type="radio" value="payment"> <span><img src="https://img.icons8.com/officel/48/000000/paypal.png"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                              width="30"/></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </label>&ndash;&gt;-->
<!--&lt;!&ndash;            <div><label class="credit-card-label">Nom de Titulaire</label><input class="form-control credit-inputs"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                 placeholder="Name"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                 type="text"></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div><label class="credit-card-label">Numéro de la carte</label><input class="form-control credit-inputs"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                   placeholder="0000 0000 0000 0000"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                   type="text">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-6"><label class="credit-card-label">Date</label><input class="form-control credit-inputs"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                          placeholder="12/24"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                          type="text"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-6"><label class="credit-card-label">CVV</label><input class="form-control credit-inputs"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                         placeholder="342"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                         type="text"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="d-flex justify-content-center information "></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn  btn-block d-flex justify-content-center mt-4 mx-4 "&ndash;&gt;-->
<!--&lt;!&ndash;                        style="background-color: #00bbff" type="button"><span>Payer<i&ndash;&gt;-->
<!--&lt;!&ndash;                        class="fa fa-long-arrow-right ml-1"></i></span></button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<section class="h-100 h-custom" style="background-color: #eee;">-->
    <div class="container h-100 py-1"style="width: 100%;padding-left:5px" >
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shopping-cart" style="border-radius: 15px;">
                    <div class="card-body text-black">

                        <div class="row">
                            <div class="col-lg-6 px-5 py-4">

                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">vos produits</h3>

                                <div class="d-flex align-items-center mb-4">
                                    <div class="flex-shrink-0">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/13.webp"
                                             class="img-fluid" style="width: 100px;" alt="Generic placeholder image">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <a href="#!" class="float-end text-black"></a>
                                        <h6 class="text-primary">Samsung Galaxy M11 64GB</h6>
                                        <h7 style="color: #9e9e9e;">Color: white</h7>
                                        <div class="d-flex align-items-center">
                                            <p class="fw-bold mb-0 me-5 pe-3">799$</p>
                                            <div class="def-number-input number-input safari_only">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="minus"></button>
                                                <input class="quantity fw-bold text-black" min="0" name="quantity" value="1"
                                                       type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mb-5">
                                    <div class="flex-shrink-0">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/6.webp"
                                             class="img-fluid" style="width: 100px;" alt="Generic placeholder image">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <a href="#!" class="float-end text-black"></a>
                                        <h6 class="text-primary">Headphones Bose 35 II</h6>
                                        <h7 style="color: #9e9e9e;">Color: Red</h7>
                                        <div class="d-flex align-items-center">
                                            <p class="fw-bold mb-0 me-5 pe-3">239$</p>
                                            <div class="def-number-input number-input safari_only">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="minus"></button>
                                                <input class="quantity fw-bold text-black" min="0" name="quantity" value="1"
                                                       type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mb-5">
                                    <div class="flex-shrink-0">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                                             class="img-fluid" style="width: 100px;" alt="Generic placeholder image">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <a href="#!" class="float-end text-black"></a>
                                        <h6 class="text-primary">iPad 9.7 6-gen WiFi 32GB</h6>
                                        <h7 style="color: #9e9e9e;">Color: rose pink</h7>
                                        <div class="d-flex align-items-center">
                                            <p class="fw-bold mb-0 me-5 pe-3">659$</p>
                                            <div class="def-number-input number-input safari_only">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="minus"></button>
                                                <input class="quantity fw-bold text-black" min="0" name="quantity" value="2"
                                                       type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

<!--                                <div class="d-flex justify-content-between px-x">-->
<!--                                    <p class="fw-bold">Discount:</p>-->
<!--                                    <p class="fw-bold">95$</p>-->
<!--                                </div>-->
                                <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                                    <h5 class="fw-bold mb-0">Total:</h5>
                                    <h5 class="fw-bold mb-0">2261$</h5>
                                </div>

                            </div>
                            <div class="col-lg-6 px-5 py-3">

                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Paiement</h3>



                                    <div class="form-outline mb-2">
                                        <input type="text" id="typeTet" class="form-control form-control-lg" siez="17"
                                               value="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                        <label class="form-label" for="typeText">Numéro de carte </label>
                                    </div>

                                    <div class="form-outline mb-2">
                                        <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                               value="John Smith" />
                                        <label class="form-label" for="typeName">titulaire de la carte</label>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-outline">
                                                <input type="text" id="typeExp" class="form-control form-control-lg" value="01/22"
                                                       size="7" id="exp" minlength="7" maxlength="7" />
                                                <label class="form-label" for="typeExp">Date D'expiration</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-outline">
                                                <input type="password" id="typeText" class="form-control form-control-lg"
                                                       value="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                                <label class="form-label" for="typeText">Cvv</label>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="mb-5">En cas de paiement a la livraison veuillez cliquer ici <a
                                            style="color: red;cursor: pointer;font-size:20px">paiement espece</a>.</p>

                                    <button type="button" class="btn btn-primary btn-block btn-lg">Acheter</button>





                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</section>-->
