<!--<div class="wrapper" xmlns="http://www.w3.org/1999/html">-->
<!--    <div class="page-header" style="background-image: url('./assets/img/team.jpg');">-->
<!--        <div class="filter"></div>-->
<!--        <div class="container ">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12 col-sm-12 mr-auto ml-auto">-->


<!--                    <div class="col-md-12 col-xl-12">-->

<!--                        <div class="card mask-custom">-->
<!--                            <div class="card-body p-1 text-white">-->

<!--                                <div class="text-center pt-0 pb-2">-->

<!--                                    <h2 class="my-4">Liste des Formations</h2>-->
<!--                                </div>-->
<!--                                <button (click)="add()" class="btn btn-outline-primary">Ajouter une formation</button>-->
<!--                                <div style="overflow-x:auto; ">-->
<!--                                    <table class="table text-white mb-0">-->

<!--                                        <thead>-->
<!--                                        <tr>-->
<!--                                            <th scope="col">Nom</th>-->
<!--                                            <th scope="col">Nombre des places</th>-->
<!--                                            <th scope="col">Durée</th>-->
<!--                                            <th scope="col">Prix</th>-->
<!--                                            <th scope="col">Encadrant</th>-->
<!--                                            <th scope="col">Description</th>-->
<!--                                            <th scope="col">Modifier</th>-->
<!--                                        </tr>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->


<!--                                        <tr *ngFor="let formation of formations" class="fw-normal">-->
<!--                                            <th>-->
<!--                                                &lt;!&ndash;                                                <img src="assets/img/manm.jpg"&ndash;&gt;-->
<!--                                                &lt;!&ndash;                                                     alt="avatar 1" style="width: 45px; height: auto;">&ndash;&gt;-->
<!--                                                &lt;!&ndash;                                                <span class="ms-2" style="padding-left: 1em;">microscope</span>&ndash;&gt;-->
<!--                                                <span class="ms-2">{{formation.nom}}</span>-->
<!--                                            </th>-->


<!--                                            &lt;!&ndash;---------------------------------------------Nbreplaces----------------------------------------------------------------------------&ndash;&gt;-->

<!--                                            <td class="align-middle">{{formation.nombrePlace}}</td>-->

<!--                                            &lt;!&ndash;---------------------------------------------durée----------------------------------------------------------------------------&ndash;&gt;-->

<!--                                            <td class="align-middle">-->
<!--                                                <h5 class="mb-0"><span class="badge "-->
<!--                                                                       style="background-color: #00bbff">{{formation.duree}}</span>-->
<!--                                                </h5>-->
<!--                                            </td>-->

<!--                                            &lt;!&ndash;---------------------------------------------prix-------------------------------------&ndash;&gt;-->

<!--                                            <td class="align-middle">-->
<!--                                                <h5 class="mb-0"><span class="badge "-->
<!--                                                                       style="background-color: #00bbff">{{formation.prix}}</span>-->
<!--                                                </h5>-->
<!--                                            </td>-->


<!--                                            &lt;!&ndash;---------------------------------------------Encadrant-------------------------------------&ndash;&gt;-->
<!--                                            <td class="align-middle">-->
<!--                                                <h5 class="mb-0"><span class="badge "-->
<!--                                                                       style="background-color: #00bbff">{{formation.encadrantProf}}</span>-->
<!--                                                </h5>-->
<!--                                            </td>-->

<!--                                            &lt;!&ndash;---------------------------------------------description-------------------------------------&ndash;&gt;-->
<!--                                            <td class="align-middle">-->
<!--                                                <h5 class="mb-0"><span class="badge "-->
<!--                                                                       style="background-color: #00bbff">{{formation.description}}</span>-->
<!--                                                </h5>-->
<!--                                            </td>-->

<!--                                            &lt;!&ndash;----------------------------------------------Modifier------------------------------------&ndash;&gt;-->
<!--                                            <td class="align-middle">-->
<!--                                                <a data-mdb-toggle="tooltip" title="Modifier">-->
<!--                                                    <i (click)="edit(formation)"-->
<!--                                                       aria-hidden="true"-->
<!--                                                       class="fa fa-pencil-square" style="font-size: 15px;color: deepskyblue"></i>-->
<!--                                                </a>-->
<!--                                                <a data-mdb-toggle="tooltip" title="supprimer">-->
<!--                                                    <i (click)="delete(formation)"-->
<!--                                                       aria-hidden="true"-->
<!--                                                       class="fa fa-trash" style="font-size: 15px;color: red ; padding-left: 2em"></i>-->
<!--                                                </a>-->
<!--                                            </td>-->
<!--                                        </tr>-->

<!--                                        </tbody>-->
<!--                                    </table>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->




<div class="container" >
    <div class="table-responsive " style="margin-top:7rem; ">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Liste <b>Des formations</b></h2></div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="fa fa-search" aria-hidden="true"></i>

                            <input type="text" [(ngModel)]="searchInput" (ngModelChange)="search(searchInput)" class="form-control" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline  "style="background-color: #00bbff; border: none"  (click)="add()">Ajouter </button>

            <table class="table table-striped table-hover table-bordered  ">
                <thead style="position: sticky;top: 0;" class="thead-dark">
                <tr>
                    <!--                    <th>Nom</th>-->
                    <th>Nom <i class="fa fa-sort"></i></th>
                    <th >N-Places <i class="fa fa-sort"></i></th>
                    <th>Durée<i class="fa fa-sort"></i></th>
                    <th>Prix</th>
                    <th>Encadrant<i class="fa fa-sort"></i></th>
                    <th>Description</th>
                    <!--                    <th>Country <i class="fa fa-sort"></i></th>-->
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let formation of formations">
                    <!--                    <td>1</td>-->
                    <td>{{formation.nom}}</td>
                    <td>{{formation.nombrePlace}}</td>
                    <td>{{formation.duree}} <span style="color: red"> Heurs</span> </td>
                    <td>{{formation.prix}} <span style="color: red">dh</span></td>
                    <td >{{formation.encadrantProf}}</td>
                    <div class="scroll-page" id="page-1" style="overflow: scroll; width:420px;height: 80px" >{{formation.description}}</div>

                    <td>
<!--                        <button type="button" title="supprimer" class="btn btn-danger " style="padding-bottom: 0px;padding-top: 0px; "> <i (click)="delete(formation)"-->
<!--                                                                                                                                             aria-hidden="true"-->
<!--                                                                                                                                             class="fa fa-trash" style="font-size: 15px;color: white ; padding-left: 2em"></i></button>-->
<!--  <button type="button" title="supprimer" class="btn btn-danger " style="padding-bottom: 0px;padding-top: 0px; ">  <i (click)="edit(formation)"-->
<!--                                                                                                                      aria-hidden="true"-->
<!--                                                                                                                      class="fa fa-pencil-square" style="font-size: 15px;color: deepskyblue"></i></button>-->


                        <a data-mdb-toggle="tooltip" title="Modifier">
                            <i (click)="edit(formation)"
                               aria-hidden="true"
                               class="fa fa-pencil-square" style="font-size: 18px;color: deepskyblue;cursor: pointer"></i>
                        </a>
                        <a data-mdb-toggle="tooltip" title="supprimer">
                            <i (click)="delete(formation)"
                               aria-hidden="true"
                               class="fa fa-trash" style="font-size: 18px;color: red ; padding-left: 2em;padding-top: 1em;cursor: pointer"></i>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="clearfix">
                <!--                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>-->
                <ul class="pagination">
                    <li class="page-item disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a  class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item active"><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item"><a class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



