














































































































































































































<br><br><br><br>
<div class="container">

    <header>L'ajout des formations</header>

    <prod>
        <div class="form first">
            <div class="details personal">


                <div class="fields">
                    <div class="input-field">
                        <label>Nom</label>
                        <input type="text" class="form-control" placeholder="Nom formation" [(ngModel)]="selectedFormation.nom " [ngModelOptions]="{standalone: true}" [ngClass]="{'input-group-focus':focus===true}" >
                    </div>

                    <div class="input-field">
                        <label>Places Disponibles</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedFormation.nombrePlace" [ngModelOptions]="{standalone: true}" placeholder="places desponibles" >
                    </div>

                    <div class="input-field">
                        <label>Prix </label>
                        <input type="number" class="form-control" [(ngModel)]="selectedFormation.prix" [ngModelOptions]="{standalone: true}" placeholder="prix " >
                    </div>

                    <div class="input-field">
                        <label>Durée</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedFormation.duree" [ngModelOptions]="{standalone: true}" placeholder="Durée" >
                    </div>

                    <div class="input-field">
                        <label>Encadrant</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedFormation.encadrantProf" [ngModelOptions]="{standalone: true}" placeholder="Encadrant" >
                    </div>











                    <div class="input-field">
                        <label>Description</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedFormation.description" [ngModelOptions]="{standalone: true}" placeholder="Description" >
                    </div>









                </div>
            </div>




            <button class="nextBtn" (click)="submit()">
                <span class="btnText" >Valider</span>
                <i class="uil uil-navigator"></i>
            </button>

        </div>


    </prod>
</div>
