
<!--<div class="wrapper">-->
<!--    <div class="page-header" style="background-image: url('./assets/img/smoke.jpg');">-->
<!--        <div class="filter"></div>-->
<!--        <div class="container col-lg-12 col-sm-12">-->

<!--            <div class="row">-->
<!--                <div class="col-lg-8 col-sm-6 mr-auto ml-auto">-->

<!--                    <div class="card card-register " style="background-color: black; opacity: 0.6;">-->
<!--                        <div class="text-center ">-->
<!--                            <h3>Ajouter congrés</h3>-->
<!--                            &lt;!&ndash;                            <p class="lead"></p>&ndash;&gt;-->
<!--                        </div>-->

<!--                        <label>Objectif Congrés</label>-->
<!--                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">-->
<!--                            <div class="input-group-prepend">-->
<!--                                &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                &lt;!&ndash;&lt;!&ndash;                                  <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                            </div>-->

<!--                            <input type="text" class="form-control" [(ngModel)]="selectedCongre.nom"(focus)="focus=true" (blur)="focus=false" >-->
<!--                        </div>-->

<!--                        <label>Encadrant</label>-->
<!--                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">-->
<!--                            <div class="input-group-prepend">-->
<!--                                &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                &lt;!&ndash;&lt;!&ndash;                                  <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                            </div>-->

<!--                            <input type="text" class="form-control" [(ngModel)]="selectedCongre.encadrantProf" (focus)="focus=true" (blur)="focus=false" >-->
<!--                        </div>-->




<!--                        <label>visible</label>-->
<!--                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">-->
<!--                            <div class="input-group-prepend">-->
<!--                                &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                &lt;!&ndash;&lt;!&ndash;                                   <i class="fa fa-phone-square" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->

<!--                                &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                            </div>-->

<!--                            <input type="text" class="form-control"[(ngModel)]="selectedCongre.visible" (focus)="focus=true" (blur)="focus=false" >-->
<!--                        </div>-->

<!--                        <label>adresse</label>-->
<!--                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">-->
<!--                            <div class="input-group-prepend">-->
<!--                                &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                &lt;!&ndash;&lt;!&ndash;                                  <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                            </div>-->

<!--                            <input type="text" class="form-control" [(ngModel)]="selectedCongre.lieu" (focus)="focus=true" (blur)="focus=false" >-->
<!--                        </div>-->



<!--                        <label>description</label>-->
<!--                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">-->
<!--                            <div class="input-group-prepend">-->
<!--                                &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                &lt;!&ndash;&lt;!&ndash;                                  <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                            </div>-->

<!--                            <input type="text" class="form-control" [(ngModel)]="selectedCongre.description" (focus)="focus=true" (blur)="focus=false" >-->
<!--                        </div>-->



<!--                        <label>date</label>-->
<!--                        <div class="input-group form-group-no-border justify-content-center" >-->
<!--                            <div class="input-group-prepend">-->
<!--                                &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                &lt;!&ndash;&lt;!&ndash;                                     <i class="fa fa-unlock-alt" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                            </div>-->
<!--                            <input type="datetime-local" class="form-control" [(ngModel)]="selectedCongre.duree" (focus)="focus1=true" (blur)="focus1=false" >-->
<!--                            &lt;!&ndash;                                <input id="party" type="datetime-local" name="partydate">&ndash;&gt;-->
<!--                        </div>-->
<!--                        <button (click)="edit()" class="btn  btn-block btn-round" style="background-color: deepskyblue ; color: black"-->
<!--                                type="submit">Ajouter-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;                        <div class="footer register-footer text-center">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<br><br><br><br>
<div class="container">

    <header>Ajouter congrés</header>

    <Badr>
        <div class="form first">
            <div class="details personal">
                <!--                <span class="title">Personal Details</span>-->
                <!--[ngModelOptions]="{standalone: true}"-->
                <div class="fields">
                    <div class="input-field">
                        <label>Objectif Congrés</label>
                        <input type="text" class="form-control" placeholder="Objectif Congrés" [(ngModel)]="selectedCongre.nom " [ngModelOptions]="{standalone: true}" [ngClass]="{'input-group-focus':focus===true}" >
                    </div>

                    <div class="input-field">
                        <label>Encadrant</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedCongre.encadrantProf" [ngModelOptions]="{standalone: true}" placeholder="Encadrant" >
                    </div>

                    <div class="input-field">
                        <label>Visible</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedCongre.visible" [ngModelOptions]="{standalone: true}" placeholder="visible" >
                    </div>

                    <div class="input-field">
                        <label>Adresse</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedCongre.lieu" [ngModelOptions]="{standalone: true}" placeholder="Adresse" >
                    </div>

                    <div class="input-field">
                        <label>Date</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedCongre.duree" [ngModelOptions]="{standalone: true}" placeholder="date" >
                    </div>

                    <!--                    <div class="input-field">-->
                    <!--                        <label>Gender</label>-->
                    <!--                        <select required>-->
                    <!--                            <option disabled selected>Select gender</option>-->
                    <!--                            <option>Male</option>-->
                    <!--                            <option>Female</option>-->
                    <!--                            <option>Others</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->

                    <div class="input-field">
                        <label>Description</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedCongre.description" [ngModelOptions]="{standalone: true}" placeholder="description" >
                    </div>
                </div>
            </div>




            <button class="nextBtn" (click)="edit()">
                <span class="btnText" >Valider</span>
                <i class="uil uil-navigator"></i>
            </button>

        </div>


    </Badr>
</div>
