<div class="d-lg-flex half">
    <div class="bg order-2 order-md-1" style="background-image: url('assets/img/pc stud.jpg'); "></div>
    <div class="contents order-1 order-md-2">

        <div class="container" style="background-color: white; ">
            <div class="row align-items-center justify-content-center">
<!--                <div class="col-md-7"><button type="button" class="btn btn-primary">Primary</button></div>-->
                <div class="col-md-7">
<!--                    <button [routerLink]="['/home']"type="button" class="btn btn-primary" style="text-align: center">  <i aria-hidden="true" class="fa fa-home" style="font-size: 15px"></i></button>-->
                    <h3 style="text-align: center" [routerLink]="['/home']"> <i aria-hidden="true" class="fa fa-home"  style="font-size: 25px;cursor: pointer"></i></h3>
                    <h3 style="text-align: center"> <strong>Nano<span style="color: #00bbff">planete</span> </strong></h3>
<!--                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>-->
<!--                    <form action="#" method="post">-->
                    <form class="register-form" [formGroup]="loginForm">
                        <div class="form-group first"><br>
                            <label for="username">Nom d'utilisateur ou Adresse Email</label>
                            <input type="text" class="form-control" formControlName="username" placeholder="Nom d'utilisateur" id="username">
                        </div>
                        <div class="form-group last mb-3">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe" id="password">
                        </div>

<!--                        <div class="d-flex mb-5 align-items-center">-->
<!--&lt;!&ndash;                            <label class="control control&#45;&#45;checkbox mb-0"><span class="caption">Remember me</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="checkbox" checked="checked"/>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="control__indicator"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="ml-auto"><a class="forgot-pass">Forgot Password</a></span>&ndash;&gt;-->
<!--                        </div>-->


                        <div class="custom-control custom-switch mb-1" style="text-align: center;">
                            <input class="custom-control-input" id="customSwitch1" type="checkbox" [(ngModel)]="admin">
                            <label class="custom-control-label" for="customSwitch1">Se connecter en tant que <span style="color: #00bbff">admin</span></label>
                        </div>

                        <div class="custom-control custom-switch mb-1" style="text-align: center;">
                            <input class="custom-control-input" id="customSwitch" type="checkbox" [(ngModel)]="gerant">
                            <label class="custom-control-label" for="customSwitch">Se connecter en tant que <span style="color: #00bbff">gérant</span></label>
                        </div>




<!--                        <input (click)="submit()" type="submit" value="se connecter" class="btn btn-danger btn-block btn-round">-->
                        <button class="btn  btn-block btn-round" style="background-color: #00bbff;border: none" (click)="submit()">Se Connecter</button>
                    <div class="forgot"><br>
                        <h6 style="color: black;text-align: center">vous n'avez pas encore de compte ?</h6>
                    </div>
                    <button (click)="register()" class="btn btn-dark btn-block btn-round">Creer un Compte
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

























































