<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6" style="text-align: left">
                <div class="section-title position-relative pb-3 mb-5 mt-0" style="text-align: center">
                    <h1 class="fw-bold text-dark text-uppercase"><big>Àpropos de nous</big></h1><br>
                    <h4 class="mb-0" style="text-align: left"><big>Nous ne sommes pas les seuls, mais nous essayons d'être  les
                        meilleurs</big></h4>
                </div>
                <h4 class="mb-4"><big>Notre société spécialisée en formation continue vous propose des formations sur mesure .
                    vous permettant d'actualiser et développer vos compétences.</big></h4>
                <div class="row g-0 mb-3">
                    <div class="col-sm-12 wow zoomIn" style="text-align: left">

                        <h4 class="mb-12"><i class="fa fa-check  me-3" style="color: #00bbff"></i><big>nous avons les meilleurs
                            professeurs.</big></h4>
                    </div>
                    <div class="col-sm-12 wow zoomIn" style="text-align: left">
                        <h4 class="mb-12"><i class="fa fa-check  me-3" style="color: #00bbff"></i> <big> 24/7 Support</big></h4>
                        <h4 class="mb-12"><i class="fa fa-check  me-3" style="color: #00bbff"></i><big>prix convenable</big></h4>
                        <h4 class="mb-2">Pour plus d'informations <a href="/"><big>Contactez nous</big></a></h4>
                        <h4 class=" mb-0" style="color: #00bbff;text-align: center"><big>+212 0632360909</big></h4>
                    </div>
                </div>


            </div>
            <div class="col-lg-6" style="min-height: 700px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                         src="assets/img/team.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="container  ">
                <div class="container-fluid col-lg-9" style="margin-top: 3rem;margin-bottom: 0rem;padding-top: 1rem;padding-bottom: 1rem;padding-right: 5rem;padding-left: 5rem; background-color: red;text-align: center;color: white; cursor: pointer;border-bottom-left-radius: 15%;border-top-right-radius: 15%" >
                    <!--            <div class="container-fluid" style="margin-top: 1rem;margin-bottom: 3rem;padding-top: 1rem;padding-bottom: 1rem;padding-right: 5rem;padding-left: 5rem; background-color: black;text-align: center;color: white" >-->
                    <h1>PROMOTION </h1>
                    <div> <h2>SUR NOS FORMATIONS</h2></div>
                    <div><h5>jusqu'à -50%</h5> </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- About End -->
