<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7" style="text-align: center">
                <div class="section-title position-relative pb-3 mb-5" style="text-align: center">
                    <h1 class="fw-bold text-dark text-uppercase">Àpropos de nous</h1>
                    <h5 class="mb-0">Nous ne sommes pas les seuls, mais nous essayons d'être les meilleurs les meilleurs</h5>
                </div>
                <p class="mb-4">Notre société spécialisée en formation continue vous propose des formations sur mesure . vous permettant d'actualiser et développer vos compétences.</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-12 wow zoomIn" style="text-align: center">

                        <h5 class="mb-12"><i class="fa fa-check text-primary me-3"></i>nous avons les meilleurs professeurs</h5><br>
                    </div>
                    <div class="col-sm-12 wow zoomIn" style="text-align: center">
                        <h5 class="mb-12"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5><br>
                        <h5 class="mb-12"><i class="fa fa-check text-primary me-3"></i>prix convenable</h5><br>
                        <h5 class="mb-2">Pour plus d'informations <a href="/" >Contactez nous</a></h5><br>
                        <h4 class="text-primary mb-0">+212 0632360909</h4>
                    </div>
                </div>


            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="assets/img/team.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
