<!--<div class="wrapper">-->
<!--    <div class="page-header" style="background-image: url('./assets/img/team.jpg');">-->
<!--        <div class="filter"></div>-->
<!--        <div class="container col-lg-12 col-sm-12">-->

<!--            <div class="row">-->
<!--                <div class="col-lg-8 col-sm-6 mr-auto ml-auto">-->

<!--                    <div class="card card-register " style="background-color: black; opacity: 0.6;">-->
<!--                        <div class="text-center ">-->
<!--                            <h3>Ajouter un Grant</h3>-->
<!--                            &lt;!&ndash;                            <p class="lead"></p>&ndash;&gt;-->
<!--                        </div>-->

<!--                            <label>Nom</label>-->
<!--                            <div-->
<!--                                 class="input-group form-group-no-border">-->
<!--                                <div class="input-group-prepend">-->

<!--                                </div>-->

<!--                                <input [(ngModel)]="selectedUser.nom"  class="form-control"-->
<!--                                       placeholder="Agent" type="text">-->
<!--                            </div>-->

<!--                        <label>Nom d'utilisateur</label>-->
<!--                            <div-->
<!--                                 class="input-group form-group-no-border">-->
<!--                                <div class="input-group-prepend">-->

<!--                                </div>-->

<!--                                <input [(ngModel)]="selectedUser.username"  class="form-control"-->
<!--                                       placeholder="Agent" type="text">-->
<!--                            </div>-->


<!--                            <label>Numero telephone</label>-->
<!--                            <div class="input-group form-group-no-border">-->
<!--                                <div class="input-group-prepend">-->

<!--                                </div>-->

<!--                                <input [(ngModel)]="selectedUser.phone"  class="form-control"-->
<!--                                       placeholder="Numéro telephone" type="text">-->
<!--                            </div>-->

<!--                            <label>Email</label>-->
<!--                            <div-->
<!--                                 class="input-group form-group-no-border">-->
<!--                                <div class="input-group-prepend">-->

<!--                                </div>-->

<!--                                <input [(ngModel)]="selectedUser.email" class="form-control"-->
<!--                                       placeholder="Email" type="text">-->
<!--                            </div>-->


<!--                            <label>Password</label>-->
<!--                            <div-->
<!--                                 class="input-group form-group-no-border justify-content-center">-->
<!--                                <div class="input-group-prepend">-->

<!--                                </div>-->
<!--                                <input [(ngModel)]="selectedUser.password"  class="form-control"-->
<!--                                      placeholder="Password" type="password">-->
<!--                            </div>-->
<!--                            <button (click)="submit()" class="btn  btn-block btn-round"-->
<!--                                    style="background-color: deepskyblue ; color: black">Ajouter-->
<!--                            </button>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<br><br><br><br>
<div class="container">

    <header>L'ajout des Gérants</header>

    <gerant>
        <div class="form first">
            <div class="details personal">
                <!--                <span class="title">Personal Details</span>-->
                <!--[ngModelOptions]="{standalone: true}"-->
                <div class="fields">
                    <div class="input-field">
                        <label>Nom d'utilisateur</label>
                        <input type="text" class="form-control" placeholder="nom d'utilisateurs" [(ngModel)]="selectedUser.username " [ngModelOptions]="{standalone: true}" [ngClass]="{'input-group-focus':focus===true}" >
                    </div>

                    <div class="input-field">
                        <label>Nom </label>
                        <input type="text" class="form-control" [(ngModel)]="selectedUser.nom" [ngModelOptions]="{standalone: true}" placeholder="Nom" >
                    </div>

                    <div class="input-field">
                        <label>Prénom</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedUser.prenom" [ngModelOptions]="{standalone: true}" placeholder="Prénom " >
                    </div>

                    <div class="input-field">
                        <label>Email</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedUser.email" [ngModelOptions]="{standalone: true}" placeholder="Email" >
                    </div>

                    <div class="input-field">
                        <label>Téléphone</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedUser.phone" [ngModelOptions]="{standalone: true}" placeholder="télephone" >
                    </div>

                    <!--                    <div class="input-field">-->
                    <!--                        <label>Gender</label>-->
                    <!--                        <select required>-->
                    <!--                            <option disabled selected>Select gender</option>-->
                    <!--                            <option>Male</option>-->
                    <!--                            <option>Female</option>-->
                    <!--                            <option>Others</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->

                    <div class="input-field">
                        <label>Date De Création</label>
                        <input type="date" class="form-control" [(ngModel)]="selectedUser.createdAt" [ngModelOptions]="{standalone: true}" placeholder="Date de Création" >
                    </div>

                    <div class="input-field">
                        <label>Mot de passe</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedUser.password" [ngModelOptions]="{standalone: true}" placeholder="mot de passe" >
                    </div>



                    <!--                    <div class="input-field">-->
                    <!--                        <label>Modifié le</label>-->
                    <!--                        <input type="text" class="form-control" [(ngModel)]="selectedProduitBio.updatedAt" [ngModelOptions]="{standalone: true}" placeholder="promotion?" >-->
                    <!--                    </div>-->


                </div>
            </div>




            <button class="nextBtn" (click)="submit()">
                <span class="btnText" >Valider</span>
                <i class="uil uil-navigator"></i>
            </button>

        </div>


    </gerant>
</div>
