




<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header" style="background-image: url('./assets/img/smoke.jpg');">
        <div class="filter"></div>
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mr-auto ml-auto">


                    <div class="col-md-12 col-xl-12">

                        <div class="card mask-custom">
                            <div class="card-body p-1 text-white">

                                <div class="text-center pt-0 pb-2">

                                    <h2 class="my-4">Liste des Gérants</h2>
                                </div>
                                <div style="overflow-x:auto; ">
                                    <table class="table text-white mb-0" >

                                        <thead>
                                        <tr>
                                            <th scope="col">Nom </th>
                                            <th scope="col">Numéro telephone</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Modifier</th>
                                        </tr>
                                        </thead>
                                        <tbody>



                                        <tr class="fw-normal">



                                            <!-----------------------------------------------nom------------------------------------------------------------------------------>

                                            <td class="align-middle">mr.bazzi</td>

                                            <!-----------------------------------------------num tel------------------------------------------------------------------------------>

                                            <td class="align-middle">
                                                <h5 class="mb-0"><span class="badge "style="background-color: #00bbff">+212611223366</span></h5>
                                            </td>

                                            <!-----------------------------------------------email--------------------------------------->

                                            <td class="align-middle">
                                                <h5 class="mb-0"><span class="badge "style="background-color: #00bbff">achddani12@gmail.com</span></h5>
                                            </td>



                                            <!------------------------------------------------Modifier-------------------------------------->
                                            <td class="align-middle">
                                                <a data-mdb-toggle="tooltip" title="Modifier">
                                                    <i  style="font-size: 15px;color: deepskyblue"  class="fa fa-pencil-square" aria-hidden="true"></i>
                                                </a>
                                                <a href="#!" data-mdb-toggle="tooltip" title="supprimer" ><i  style="font-size: 15px;color: red ; padding-left: 2em" class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

