<div class="container">
    <div class="table-responsive " style="margin-top:7rem ">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Liste <b>Des Gerants</b></h2></div>
                    <br>
                    <div class="col-sm-4">

                        <div class="search-box">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline  " style="background-color: #00bbff; border: none" (click)="add()">Ajouter
            </button>

            <table class="table table-striped table-hover table-bordered  ">
                <thead style="position: sticky;top: 0;" class="thead-dark">
                <tr>
                    <th>Utilisateur <i class="fa fa-sort"></i></th>
                    <th>Email <i class="fa fa-sort"></i></th>
                    <th>Nom<i class="fa fa-sort"></i></th>
                    <th>Prenom</th>
                    <th>Tele</th>
                    <th>Date de Creation</th>
                    <th>Status</th>
                    <th>Bloquer</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.nom}}</td>
                    <td>{{user.prenom}} </td>
                    <td>{{user.phone}}</td>
                    <td>{{(user.createdAt.toString()).substring(0, 10)}}</td>
                    <td *ngIf="user.enabled;else khalil">Active</td>
                    <ng-template #khalil>
                        <td>Desactive</td>
                    </ng-template>
                    <td>
                        <a data-mdb-toggle="tooltip" title="Bloquer">
                            <!--                            <i (click)="edit(congre)"-->
                            <!--                               aria-hidden="true"-->
                            <!--                               class="fa fa-pencil-square" style="font-size: 18px;color: deepskyblue;cursor: pointer"></i>-->

                            <button type="button" title="bloquer" class="btn btn-danger mx-5"
                                    style="padding-bottom: 0px;padding-top: 0px; "><i class="fa fa-user-times"
                                                                                      aria-hidden="true"></i></button>

                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="clearfix">
                <!--                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>-->
                <ul class="pagination">
                    <li class="page-item disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item active"><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item"><a class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
