<div class="page-header" style="background-image: url('./assets/img/smoke.jpg');">
    <div class="container">
        <div class="text-center mb-5">
            <h3>Congres & siminaire</h3>
            <p class="lead"></p>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                    <span class="avatar avatar-text rounded-3 me-4 mb-4">FD</span>
                    <div class="row flex-fill">
                        <div class="col-sm-5">
                            <h4 class="h5">Junior Frontend Developer</h4>
                            <span class="badge bg-secondary">WORLDWIDE</span> <span class="badge bg-success">$60K - $100K</span>
                        </div>
                        <div class="col-sm-4 py-2">
                            <span class="badge bg-secondary">REACT</span>
                            <span class="badge bg-secondary">NODE</span>
                            <span class="badge bg-secondary">TYPESCRIPT</span>
                            <span class="badge bg-secondary">JUNIOR</span>
                        </div>
                        <div class="col-sm-3 text-lg-end">
                            <a class="btn btn-primary stretched-link">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                    <span class="avatar avatar-text rounded-3 me-4 bg-warning mb-2">BE</span>
                    <div class="row flex-fill">
                        <div class="col-sm-5">
                            <h4 class="h5">Senior Backend Engineer</h4>
                            <span class="badge bg-secondary">US</span> <span
                                class="badge bg-success">$90K - $180K</span>
                        </div>
                        <div class="col-sm-4 py-2">
                            <span class="badge bg-secondary">GOLANG</span>
                            <span class="badge bg-secondary">SENIOR</span>
                            <span class="badge bg-secondary">ENGINEER</span>
                            <span class="badge bg-secondary">BACKEND</span>
                        </div>
                        <div class="col-sm-3 text-lg-end">
                            <a class="btn btn-primary stretched-link">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                    <span class="avatar avatar-text rounded-3 me-4 bg-info mb-2">PM</span>
                    <div class="row flex-fill">
                        <div class="col-sm-5">
                            <h4 class="h5">Director of Product Marketing</h4>
                            <span class="badge bg-secondary">WORLDWIDE</span> <span class="badge bg-success">$150K - $210K</span>
                        </div>
                        <div class="col-sm-4 py-2">
                            <span class="badge bg-secondary">PRODUCT MARKETING</span>
                            <span class="badge bg-secondary">MARKETING</span>
                            <span class="badge bg-secondary">EXECUTIVE</span>
                            <span class="badge bg-secondary">ECOMMERCE</span>
                        </div>
                        <div class="col-sm-3 text-lg-end">
                            <a class="btn btn-primary stretched-link">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
