<div class="page-header" style="background-color:white;">

    <div class="container">

        <div class="container  ">
            <div   class="container-fluid col-lg-9" style="margin-top: 6rem;margin-bottom: 0rem;padding-top: 0rem;padding-bottom: 0rem;padding-right: 4rem;padding-left: 4rem; background-color: lightgray;text-align: center;color: white; cursor: pointer;border-bottom-left-radius: 15%;border-top-right-radius: 15%" >

                <h1>Education a l'étranger</h1>


            </div>
        </div>


        <div class="text-center mb-5">

            <p class="lead"></p>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                    <span class="avatar avatar-text rounded-3 me-4 mb-4">Étudier au Canada </span>
                    <div class="row flex-fill">
                        <div class="col-sm-5">
                            <h4 class="h5">Université LMP</h4>
                            <span class="badge bg-secondary">age</span> <span
                                class="badge bg-success">18ans - 30ans</span>
                        </div>
                        <div class="col-sm-4 py-2">
                            <span class="badge bg-secondary">licence</span>
                            <span class="badge bg-secondary">master</span>
                            <span class="badge bg-secondary">deust</span>
                            <span class="badge bg-secondary">doctorat</span>
                        </div>
                        <div class="col-sm-3 text-lg-end">
                            <a class="btn btn-primary stretched-link">Appliquer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>












































    </div>
</div>
