<br><br><br><br>
<div class="container">

    <header>L'ajout des produits</header>

    <form>
        <div class="form first">
            <div class="details personal">
                <div class="fields">
                    <div class="input-field">
                        <label>Nom</label>
                        <input type="text" class="form-control" placeholder="Nom selectedProduitBio" [(ngModel)]="selectedProduitBio.nom " [ngModelOptions]="{standalone: true}" [ngClass]="{'input-group-focus':focus===true}" >
                    </div>

                    <div class="input-field">
                        <label>Prix</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.prix" [ngModelOptions]="{standalone: true}" placeholder="prix" >
                    </div>

                    <div class="input-field">
                        <label>Prix Ancienne</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.prixAncien" [ngModelOptions]="{standalone: true}" placeholder="prix ancienne" >
                    </div>

                    <div class="input-field">
                        <label>Quantité</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.quantity" [ngModelOptions]="{standalone: true}" placeholder="Quantité" >
                    </div>

                    <div class="input-field">
                        <label>Description</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedProduitBio.description" [ngModelOptions]="{standalone: true}" placeholder="description" >
                    </div>


                    <div class="input-field">
                        <label>Image</label>
                        <input type="file"  class="form-control" (change)="onImageUpload($event)" placeholder="image de selectedProduitBio"  accept="image/png, image/jpeg">
                    </div>














                    <div class="row">
                        <div class="custom-control custom-switch mb-1  " style="text-align: center;">
                            <input checked class="custom-control-input"  id="customSwitch2" type="checkbox" [(ngModel)]="selectedProduitBio.visible" [ngModelOptions]="{standalone: true}">
                            <label class="custom-control-label" for="customSwitch2">Visible     </label>
                        </div>

                    <div class="custom-control custom-switch mb-1   " style="text-align: center;margin-left: 0.7rem">
                        <input checked class="custom-control-input"  id="customSwitch1" type="checkbox" [(ngModel)]="selectedProduitBio.promotion" [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="customSwitch1">Promotion   </label>
                    </div>
                 </div>


                </div>
            </div>




            <button type="submit" class="nextBtn" (click)="upload()">
                <span class="btnText" >Valider</span>
                <i class="uil uil-navigator"></i>
            </button>

        </div>


    </form>
</div>
