
<!--<div class="wrapper">-->
<!--    <div class="page-header" style="background-image: url('./assets/img/team.jpg');">-->
<!--        <div class="filter"></div>-->
<!--        <div class="container col-lg-12 col-sm-12">-->

<!--            <div class="row">-->
<!--                <div class="col-lg-8 col-sm-6 mr-auto ml-auto">-->

<!--                    <div class="card card-register " style="background-color: black; opacity: 0.6;">-->
<!--                        <div class="text-center ">-->
<!--                            <h3>Ajouter un article</h3>-->
<!--                            &lt;!&ndash;                            <p class="lead"></p>&ndash;&gt;-->
<!--                        </div>-->

<!--                            <label>Nom Produit</label>-->
<!--                            <div class="input-group form-group-no-border" >-->
<!--                                <div class="input-group-prepend">-->
<!--                                    &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                    &lt;!&ndash;&lt;!&ndash;                                  <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                                </div>-->

<!--                                <input type="text" class="form-control"  [(ngModel)]="selectedProduitBio.nom" placeholder="Nom produit" (focus)="focus=true" (blur)="focus=false" >-->
<!--                            </div>-->










<!--                            <label>Prix</label>-->
<!--                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">-->
<!--                                <div class="input-group-prepend">-->
<!--                                    &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                    &lt;!&ndash;&lt;!&ndash;                                  <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                                </div>-->

<!--                                <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.prix" placeholder="Prix" (focus)="focus=true" (blur)="focus=false" >-->
<!--                            </div>-->


<!--                            <label>Prix Ancien [Optionnal]</label>-->
<!--                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">-->
<!--                                <div class="input-group-prepend">-->
<!--                                    &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                    &lt;!&ndash;&lt;!&ndash;                                  <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                                </div>-->

<!--                                <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.prixAncien" placeholder="Prix" (focus)="focus=true" (blur)="focus=false" >-->
<!--                            </div>-->



<!--                            <label>Quantité</label>-->
<!--                            <div class="input-group form-group-no-border justify-content-center" >-->
<!--                                <div class="input-group-prepend">-->
<!--                                    &lt;!&ndash;                                  <span class="input-group-text">&ndash;&gt;-->
<!--                                    &lt;!&ndash;&lt;!&ndash;                                     <i class="fa fa-unlock-alt" aria-hidden="true"></i>&ndash;&gt;&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--                                </div>-->
<!--                                <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.quantity" placeholder="quantité">-->
<!--                            </div>-->


<!--                            <label>Description</label>-->
<!--                            <div class="input-group">-->
<!--                                <div class="input-group-prepend">-->
<!--                                </div>-->
<!--                                <textarea class="form-control" [(ngModel)]="selectedProduitBio.description" aria-label="With textarea" placeholder="Description"></textarea>-->
<!--                            </div>-->


<!--                            <label>images</label>-->
<!--                            <div class="input-group form-group-no-border justify-content-center" [ngClass]="{'input-group-focus':focus1===true} ">-->
<!--                                <div class="input-group-prepend">-->

<!--                                </div>-->
<!--                                <input type="file" name="filefield" multiple="multiple" [(ngModel)]="selectedProduitBio.photos"  placeholder="file" (focus)="focus1=true" (blur)="focus1=false" >-->
<!--                            </div>-->


<!--                            <div class="custom-control custom-switch">-->

<!--                                <input type="checkbox" class="custom-control-input" [(ngModel)]="selectedProduitBio.promotion" id="customSwitches">-->
<!--                                <label class="custom-control-label" for="customSwitches">Promotion</label>-->
<!--                            </div>-->

<!--                            <div class="custom-control custom-switch">-->
<!--                                <input type="checkbox" class="custom-control-input" [(ngModel)]="selectedProduitBio.visible" id="customSwitch1" checked>-->
<!--                                <label class="custom-control-label" for="customSwitch1">Visible</label>-->
<!--                            </div>-->



<!--                            <button class="btn  btn-block btn-round" (click)="submit()" style="background-color: deepskyblue ; color: black" >Ajouter l'article</button>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<br><br><br><br>
<div class="container">

    <header>L'ajout des produits</header>

    <form>
        <div class="form first">
            <div class="details personal">
                <!--                <span class="title">Personal Details</span>-->
                <!--[ngModelOptions]="{standalone: true}"-->
                <div class="fields">
                    <div class="input-field">
                        <label>Nom</label>
                        <input type="text" class="form-control" placeholder="Nom produit" [(ngModel)]="selectedProduitBio.nom " [ngModelOptions]="{standalone: true}" [ngClass]="{'input-group-focus':focus===true}" >
                    </div>

                    <div class="input-field">
                        <label>Prix</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.prix" [ngModelOptions]="{standalone: true}" placeholder="prix" >
                    </div>

                    <div class="input-field">
                        <label>Prix Ancienne</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.prixAncien" [ngModelOptions]="{standalone: true}" placeholder="prix ancienne" >
                    </div>

                    <div class="input-field">
                        <label>Quantité</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.quantity" [ngModelOptions]="{standalone: true}" placeholder="Quantité" >
                    </div>

                    <div class="input-field">
                        <label>Description</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedProduitBio.description" [ngModelOptions]="{standalone: true}" placeholder="description" >
                    </div>

                    <!--                    <div class="input-field">-->
                    <!--                        <label>Gender</label>-->
                    <!--                        <select required>-->
                    <!--                            <option disabled selected>Select gender</option>-->
                    <!--                            <option>Male</option>-->
                    <!--                            <option>Female</option>-->
                    <!--                            <option>Others</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->

                    <div class="input-field">
                        <label>Image</label>
                        <input type="file" class="form-control" (change)="onImageUpload($event)" placeholder="image de produit" >
                    </div>



<!--                    <div class="input-field">-->
<!--                        <label>Modifié le</label>-->
<!--                        <input type="text" class="form-control" [(ngModel)]="selectedProduitBio.updatedAt" [ngModelOptions]="{standalone: true}" placeholder="promotion?" >-->
<!--                    </div>-->

                    <div class="input-field">
                        <label>Visible</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.visible" [ngModelOptions]="{standalone: true}" placeholder="Visible?" >
                    </div>

                    <div class="input-field">
                        <label>Promotion</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedProduitBio.promotion" [ngModelOptions]="{standalone: true}" placeholder="promotion?" >
                    </div>
                </div>
            </div>




            <button type="submit" class="nextBtn" (click)="imageUploadAction()">
                <span class="btnText" >Valider</span>
                <i class="uil uil-navigator"></i>
            </button>

        </div>


    </form>
</div>
