
    <div class="container-fluid"
         style="padding-bottom: 1rem;padding-top: 1rem;padding-right: 5rem;padding-left: 5rem; background-color: black;text-align: center;color: white">
        <h1>DECOUVRIR NOS PRODUITS</h1>
        <div><h5>Nos produits sont d'excellente qualité</h5></div>
    </div>

    <div class="container pt-0 pb-0 ml-5"  >
    <div *ngFor="let produitBio of produitBios" class="pt-0 card-4 card-div"
         routerLink="/client/produit-bio/{{produitBio.id}}" style="margin-left: 3rem;margin-top: 2rem">
        <div class="like-icon-div">

        </div>
        <div class="u4-img-div img-div">
            <img [src]="produitBio.imagePrincipal?.picByte" style="border-radius: 5%" alt="...">
        </div>
        <div class="text-container">
            <h2 class="item-name">{{produitBio.nom}}</h2>
            <p class="date"></p>
            <div class="pricing-and-cart ">
                <div class="pricing ">
                    <p class="previous-price" style="color: red">{{produitBio.prixAncien}} DH</p>
                    <h4 class="current-price">{{produitBio.prix}} DH</h4>

                </div>
            </div>
            <button type="button" class="btn" style="background-color: black;padding:1rem; color:white;border: none">
                Ajouter au panier
            </button>
        </div>
    </div>
</div>
