<footer class="footer-section">
    <div class="container">
        <div class="footer-cta">
            <div class="row">

                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Contactez-nous</h4>
                            <span>+212 32 36 09 09</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Contactez-nous par e-mail</h4>
                            <span>nanoplaneter@gmail.com</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Notre adresse</h4>
                            <span> immeuble B, Bureau 23 Etg 5 ، Av Allal El Fassi, complexe habous 2, Marrakesh 40000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="footer-widget">
                        <div class="footer-logo">
                        </div>
                        <div class="footer-text">
                            <p>Restez au courant de nos dernières formations, nos congrès et séminaires, des études à
                                l'étranger et autres nouvelles. Vous serez le premier informé à chaque fois que nous
                                ferons des mises à jour</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Nos réseaux sociaux</span>
                            <a href="/" style="color: lightgreen;font-size: 50px;"><i class="fa fa-whatsapp"
                                                                                      aria-hidden="true"></i></a>
                            <a href="#"><i style="color:rgb(228, 64, 95) ;font-size: 50px;" class="fa fa-instagram"
                                           aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Voir aussi</h3>
                        </div>
                        <ul>
                            <li><a href="#">Accueil</a></li>

                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>


                            <li><a href="#">Contactez-nous</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Abonnez vous à notre Newsletter</h3>
                        </div>

                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <h5>Copyright 2022, Tous les droits sont réservés <a
                                href="https://github.com/khalil1fs ">Khalil</a> & <a href="https://github.com/benbrahi">Badr</a>
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
