<footer class="footer-02">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-6">
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-4 col-lg-5">
                <div class="row">
                    <div class="col-md-12 col-lg-12 mb-md-1 mb-4">
                        <h2 class="footer-heading"><a class="logo" >Abonnez vous à notre Newsletter</a></h2>
                        <p>Restez au courant de nos dernières formations, nos congrès et séminaires, des études à l'étranger et autres nouvelles. Vous serez le premier informé à chaque fois que nous ferons des mises à jour.</p><br>

                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control rounded-left" placeholder="Entrer votre adresse email">
                                    <input type="submit" value="Subscribe" class="form-control submit px-3">
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-7">
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-4 border-left">
                        <h2 class="footer-heading">Pour aller vite</h2>
                        <ul class="list-unstyled">
                            <li><a class="py-1 d-block">Commencez ici</a></li>
                            <li><a class="py-1 d-block">Nos Produits</a></li>
                            <li><a class="py-1 d-block">Nos Formations</a></li>
                            <li><a class="py-1 d-block">Nos Evènements</a></li>
                            <li><a class="py-1 d-block">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-4 border-left">
                        <h2 class="footer-heading">Social</h2>
                        <ul class="list-unstyled">
                            <li><a class="py-1 d-block">whatsapp</a></li>
                            <li><a class="py-1 d-block">Twitter</a></li>
                            <li><a class="py-1 d-block">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
